[2019-10-21 22:11] yochannah opened #3 "Make a square version of the logo"
Logo files are available in the root of this repo - we need a square version so we can use it as a profile pic :)

the image should be in png and also svg so we can edit it and use it as an avatar.

## if you want to pick up this task

1. Comment on this issue stating that you intend to work on the task
2. When you're ready, add your work to the repo and create a pull request.

### What to do if y

[2019-10-21 22:13] yochannah opened #4 "[design task] Create a social preview image for GitHub"
specs for a social preview are here: https://help.github.com/en/github/administering-a-repository/customizing-your-repositorys-social-media-preview

Feel free to use your creativity and any images in this repo to create the social preview image.

Please share the image as an editable .svg as well as a png.

## if you want to pick up this task

1. Comment on this issue stating that you intend to wo

[2019-10-22 01:38] jonhenshaw commented on #3
I'll take it!

Edit: All done! #5

[2019-10-23 21:55] yochannah commented on #3
fixed by #5 ✨

[2019-10-23 21:55] #3 closed

[2020-09-28 20:50] yochannah commented on #4
quick update - this task is still open for Hacktoberfest 2020 :)

[2022-10-09 10:50] jilaga commented on #4
Hi, I am from the Outreachy 2022 December Internship. I would like to work on this task if it's still open.

[2022-10-09 12:48] manuuelab commented on #4
Hello, I am from the Outreachy 2022 December internship and I would love to participate in this task

[2022-10-09 14:07] Emidowojo commented on #4
Hello @yochannah I would be picking up this task

[2022-10-09 14:48] manuuelab commented on #4
@yochannah please what is meant by social preview? and can we get examples to serve as a guide so we can be on the right track. Also, which images and from which repo do we use?

[2022-10-09 15:09] Augusta2 commented on #4
Hello, I would love to contribute to this task.

[2022-10-09 17:17] jilaga commented on #4
@manuuelab you can import the repo from Branding

[2022-10-09 17:26] manuuelab commented on #4
okay thankyou, I just checked those out. What is meant by social preview image though?

[2022-10-09 18:45] jilaga commented on #4
![unnamed (1)](https://user-images.githubusercontent.com/105386444/194774087-7dfb55cc-0a00-4a1e-bc9d-bdb306843e7e.jpg)

[2022-10-09 22:16] manuuelab commented on #4
Okay, I'm slowly understanding it. Where did you get this example please? and how do i get to see it on my github

[2022-10-09 22:28] oneboyfromife commented on #4
Hello  I'm from the Outreachy December internship and I'd love to participate in this task

[2022-10-09 23:22] Emidowojo commented on #4
Hello, @yochannah I have created a PR, please look through it to see if you have any comments for me. Thank you

[2022-10-10 00:33] manuuelab commented on #4
okay let me do that now

[2022-10-10 03:27] manuuelab commented on #4
@yochannah please I'm having issues creating a Pull Request. I've done the steps to add my work to the repo, but then the branch isn't getting updated that a change has been made, so it's not allowing me create a PR.

[2022-10-10 09:11] Ososeomo commented on #4
Good day everyone, I'm from outreachy, I'm a bit stuck or not clear on what to do on the project, I'll appreciate some assistance or a hint on what to do

[2022-10-10 09:21] manuuelab commented on #4
Hey Ososeomo, welcome here. I'm also an outreachy contributor. Anyways, you are to design a social preview image for Github. There is a sample image above posted by Jilaga which you can use as a guide. Can you design that first then I would guide on adding to the repo and creating a PR

[2022-10-10 09:26] kryptosjay commented on #4
Hi am Ugwuanyi Jacinta i.m an outreachy applicant for 2022 I would love to work on this project

[2022-10-10 09:49] kosonyemedaniella commented on #4
hi , i am an outreachy applicant and would love to work on this issue

[2022-10-10 09:52] kosonyemedaniella commented on #4
hi @jilaga i dont quite understand the branding part.

[2022-10-10 10:56] iremide1022 commented on #4
@yochannah, i'm dorcas This issue is for discussing OLS' social previews. We can use this space to clarify what the work looks like and link pull requests to if they are suggested social previews. The final step will be to change the repository's social preview [following GitHub's process](https://help.github.com/en/github/administering-a-repository/customizing-your-repositorys-social-media-previe

[2022-10-10 11:02] iremide1022 opened #14 "Create a social preview"
This issue is for discussing OLS' social previews. We can use this space to clarify what the work looks like and link pull requests to if they are suggested social previews. The final step will be to change the repository's social preview [following GitHub's process](https://help.github.com/en/github/administering-a-repository/customizing-your-repositorys-social-media-preview).
## What's a social

[2022-10-10 11:17] yochannah opened #15 "Design logo for "Masked Cohort", cohort 2 of OLS."
Each OLS Cohort (group of mentored trainees) of OLS has a name. The cohorts are:

1. Open Seeds
2. Masked Cohort
3. Perseverance (like the mars rover)
4. Kenaz ([a rune for openness](https://runesecrets.com/rune-meanings/kenaz))
5. Hope

➡️ ➡️ ➡️  **This issue is to suggest a logo for MASKED COHORT only.**

## Image requirements:

1. Square
2. Vector format (ideally SVG, but any other vector forma

[2022-10-10 11:17] yochannah opened #16 "Design a logo for Perseverance, OLS's third cohort"
Each OLS Cohort (group of mentored trainees) of OLS has a name. The cohorts are:

1. Open Seeds
2. Masked Cohort
3. Perseverance (like the mars rover)
4. Kenaz ([a rune for openness](https://runesecrets.com/rune-meanings/kenaz))
5. Hope

➡️ ➡️ ➡️  **This issue is to suggest a logo for Perseverance only.**

## Image requirements:

1. Square
2. Vector format (ideally SVG, but any other vector format

[2022-10-10 11:18] yochannah opened #17 "Design a logo for Kenaz, OLS's fourth cohort"
Each OLS Cohort (group of mentored trainees) of OLS has a name. The cohorts are:

1. Open Seeds
2. Masked Cohort
3. Perseverance (like the mars rover)
4. Kenaz ([a rune for openness](https://runesecrets.com/rune-meanings/kenaz))
5. Hope

➡️ ➡️ ➡️  **This issue is to suggest a logo for Kenaz only.**

## Image requirements:

1. Square
2. Vector format (ideally SVG, but any other vector format is fin

[2022-10-10 11:18] yochannah opened #18 "Design a logo for Hope, OLS's fifth cohort"
Each OLS Cohort (group of mentored trainees) of OLS has a name. The cohorts are:

1. Open Seeds
2. Masked Cohort
3. Perseverance (like the mars rover)
4. Kenaz ([a rune for openness](https://runesecrets.com/rune-meanings/kenaz))
5. Hope

➡️ ➡️ ➡️  **This issue is to suggest a logo for Hope only.**

## Image requirements:

1. Square
2. Vector format (ideally SVG, but any other vector format is fine

[2022-10-10 11:25] yochannah opened #19 "Brainstorm: How would you find out what possible names we should have if we re-brand OLS?"
This is a thinking-out-loud issue. OLS has a community of about 400 people, from all different areas of science, research, tech, and inside and outside academia.

What sort of tasks or questions might you perform, if you were going to find out possible suggestions for names?

This task can be performed by many people. Please post possible answers in thread, and offer feedback to one-another. One o

[2022-10-10 11:33] oneboyfromife commented on #17
I'd love to work on this

[2022-10-10 11:35] Ososeomo commented on #4
I just designed two now I’m thinking of designing one more but I’ll need
the help I can get! Thank youuu

On Mon, 10 Oct 2022 at 10:21 AM, manuuelab ***@***.***> wrote:

--
Omozokpea Osose

[2022-10-10 11:37] khallow7 commented on #4
Hey OLS community, Outreachy intern here and I would love to participate in this task.

[2022-10-10 11:46] iremide1022 commented on #19
We could rebrand it as wide pro science (WPS)
If I were to rebrand the OLS name, I would use the wife pro science because firstly I would be considering and make a research about the community is about, I would also be look further into what the specifications are as a contributor in open science, also I’ll look into how the minds in the community operates so as to align with the community goals,

[2022-10-10 11:53] manuuelab commented on #4
okay sure. help with the design right? can we talk on the slack channel so I can assist you with that

[2022-10-10 11:58] Lydiaofficial commented on #19
I would begin by asking a few questions and finding out the answers.

1. What the company does.
2. How community members would explain what the company does to a five year old, and a fifty year old.
3. How they'd nickname the company if it was a person.
4. What the company's work makes them think of
5. If they have a name that relates to that idea, and why the name??
6. Find out what the brand mea

[2022-10-10 12:24] Ososeomo commented on #4
yes we can

[2022-10-10 12:26] oneboyfromife commented on #19
Exactly @Lydiaofficial

And also the mission and vision of the organisation

[2022-10-10 12:39] oneboyfromife commented on #19
What about Open Life Community

[2022-10-10 13:42] Emidowojo commented on #18
Hello @yochannah would make sketches here and send

[2022-10-10 13:50] yochannah commented on #18
go for it!

[2022-10-10 13:53] Ososeomo commented on #19
I would approach questions like:
1. are there possibilities of merging or creating a Vern between all the various areas listed (science, tech ,etc.).
2. The vision of the brand in the long run (the name has to reflect that)
3. it has to be simple and short( it sticks and appeals more)
4. It should be a name that indicates a community

The only word that stood out and may represent all the areas in

[2022-10-10 14:03] yochannah commented on #19
These are great sets of questions! Another part to think about - _how_ might you deliver them - interviews via video call, surveys, groups, other?

[2022-10-10 14:20] Ososeomo commented on #19
@yochannah I'm not quite clear on your question, I'll appreciate if you could further explain for clarity on my end .
Thank you.

[2022-10-10 14:28] paulinebanye commented on #19
@Ososeomo I believe they are referring to how these questions would be posed to the community.

What is the suggested medium of communication? Did I get that right @yochannah?

[2022-10-10 14:46] Lydiaofficial commented on #19
All of these could work:

1. Groups
2. Interviews
3. Suggestion box
4. Surveys
5. Card sorting

It is important to make the group activity fun and less formal.

[2022-10-10 16:16] jessjaey commented on #16
@yochannah  found the "Perseverance" cohort interesting because of the word "perseverance"
I did a little research on supporting words for this
- determination ( "You can do it" )
- belief ( "Believe in yourself" )
- Persistence ("Don't give up" )

I did a quick sketch to show how I view this word:![image](https://user-images.githubusercontent.com/105664383/194909835-6199813c-9bb1-4f08-9cfa-c25e47

[2022-10-10 16:27] Lydiaofficial commented on #15
Hi, I am indicating interest in taking this task.

[2022-10-10 16:35] Ososeomo commented on #15
Hi, I am interested in this task and working on it.

[2022-10-10 16:56] Ososeomo commented on #15
Hi Lydia, I may have missed where this instruction was discussed, could you please indicate where that is stated. I've read through the instruction above and I didn't come across the "3 days notification". It's only stating to help each other and give feedback to each other .You can reach out to me on slack if needed or just point it out to me here. Thank you.
@yochannah can this also be affirmed?

[2022-10-10 16:56] jilaga commented on #14
@yochannah is this the same issue you opened in #4 ?  I made a pull request on #4 and would love your feedback, thank you

[2022-10-10 16:58] Ososeomo commented on #18
hello @yochannah can I also make an attempt on this task too?

[2022-10-10 17:01] Lydiaofficial commented on #15
That's alright

[2022-10-10 17:30] Ososeomo commented on #15
I designed a sketch on my notepad and also digitally. For my notepad sketch, I suggested possible colors for the logo and made an adjustment to the mask in the digital sketch. I'll appreciate feedbacks. Thank you

![sketch 1](https://user-images.githubusercontent.com/114418888/194921068-78f416ab-af43-4c68-9b6a-9c5f5f6b4ac7.jpeg)
![Skecth 2](https://user-images.githubusercontent.com/114418888/19492

[2022-10-10 18:05] jilaga commented on #15
OLS-2 was in 2020, the pandemic year and you cannot talk about the pandemic without talking about face masks and also open science has been a really huge help in battling Covid.
This is a great idea for the Masked cohort Logo.

[2022-10-10 18:22] jilaga commented on #17
Kenaz is one of the rune symbols and I depicted the symbol with molecular components because it's open science.
thoughts?
<img width="2671" alt="Kenaz sketch" src="https://user-images.githubusercontent.com/105386444/194929424-9362dccc-bc3e-460b-b9b4-53ee607575d7.png">

[2022-10-10 18:22] yaa-chi commented on #19
Hi, @yochannah I'd first start with what open science is and what OLS is doing in this space. Who is your target audience, and how do they respond to the services you offer?

What trends can we imbibe to foster a more straightforward adaptation to the name and connection with the brand and audience?

These will lead to options we can all brainstorm on and fine-tune before settling on the final dec

[2022-10-10 18:29] Emidowojo commented on #18
![Hope Logo PNG](https://user-images.githubusercontent.com/54295353/194930543-7f72dc56-b429-41b8-ae4a-5caefe3bcb2a.png)
Hello, @yochannah I just uploaded a small logo in PNG that I think reflects Hope and the OLS Logo in one logo. Please check and let me know what you think. Thank you

[2022-10-10 19:00] Emidowojo commented on #16
![Perseverance](https://user-images.githubusercontent.com/54295353/194933815-2fb04b3f-fe66-4e83-bb04-6157a2e6a760.svg)
This logo is the perfect representation of perseverance, the perseverance of a turtle with a goal of moving from point a to point b. A turtle symbolizes perseverance and steadfastness. In the fable “The Tortoise and the Hare,” despite his slow pace, it is the tortoise who prevails

[2022-10-10 19:07] jessjaey commented on #16
@Emidowojo nice point of view 💯

[2022-10-10 19:09] jessjaey commented on #17
I love "B" @jilaga
✨✨

[2022-10-10 19:10] jessjaey commented on #15
@Ososeomo I reallly like this concept
gives off the message well💯🤌🤌

[2022-10-10 19:20] oneboyfromife commented on #17
![20221010_200859.jpg](https://user-images.githubusercontent.com/105000665/194937011-7db59e92-3d43-4068-b95d-a75b1effafd8.jpg)
Kenaz is a rune symbol which means perseverance, controlled fire and  torch. I coined the logo out of the meaning of "Kenaz"

[2022-10-10 19:24] jessjaey commented on #17
For the "Kenaz" cohort,
Kenaz has alot of meaning
In hebrew, it means "Bright"
In rune meaning, it means "Torch, torchlight", a source of heat or light, it represents inner fire
In numerology orgin, it means someone very successful when it comes to education.
![image](https://user-images.githubusercontent.com/105664383/194938453-dbdfea5e-c6fa-4cf7-930f-9aa42f55b503.jpeg)
I tried to represent the i

[2022-10-10 19:43] Ososeomo commented on #15
Thank you for your feedbacks @jilaga and @jessjaey 👍

[2022-10-10 20:24] Ososeomo commented on #18
this is beautiful

[2022-10-10 21:06] Emidowojo commented on #16
Love it!

[2022-10-10 21:15] AdeolaAdekoya commented on #19
I would first conduct a little bit of keyword research on Twitter because it's a more informal platform, and I am likely to find out real and genuine thoughts on how they feel about the community.

Then from OLS community's tweet responses, likes, and quotes on Twitter select a number of people who are the most active on the platform and DM them to ask if we can schedule a call and begin my user i

[2022-10-10 22:45] Ronnie-Mercy commented on #15
I really like the representation you gave using the people behind the mask as it speaks well about when OLS-2 was established! good one! @Ososeomo

[2022-10-10 23:11] Olakid645 commented on #19
I would suggest we continue with the OLS initials but with a change of meaning to the letter "S". Instead of the Open Life Science (OLS), I think it will be of great idea if we can work with Open Life Stem (OLS).

STEM which means (SCIENCE, TECHNOLOGY, ENGINEERING, and MATHEMATICS) It has implications for workforce development, national security concerns and immigration policy. The STEM approach f

[2022-10-10 23:41] Ronnie-Mercy commented on #16
![logo idea for ols](https://user-images.githubusercontent.com/115509229/194967027-fd83d809-14f3-4013-b269-5dfe3edaf1e2.PNG)
Hello @yochannah  here is a simple logo idea showcasing perseverance and and what is to come after perseverance. As I am trying to see beyond the word "perseverance" itself and also what the brand is all about, I used the spiral circle as an example of how everything in life

[2022-10-11 00:19] AdeolaAdekoya commented on #18
This looks really good

[2022-10-11 00:54] AdeolaAdekoya commented on #18
Hello everyone, I decided to attempt this task, and here is the concept I came up with.

It's a tree inside a sun. I chose this because trees are known for their tenacity and because they can grow to heights of hundreds of feet almost anywhere, making them a universal symbol of hope. Here is a picture of the initial sketch and digital version
![IMG_1511](https://user-images.githubusercontent.com/8

[2022-10-11 01:07] AdeolaAdekoya commented on #17
@jilaga I like your spin on it. I'm steering more towards b

[2022-10-11 01:29] AdeolaAdekoya commented on #17
I decided to give this a try. I was inspired by the meaning of the rune Kenaz, which is meant to help one build self-confidence. It stands for the control and harnessing of fire for warmth and illumination.

The logo shows a human between a torch, using it as a guide to navigate obstacles

![IMG_1514](https://user-images.githubusercontent.com/86787740/194977093-5ed73427-0425-4557-a870-9a30805802d5

[2022-10-11 02:12] niyolynate commented on #16
Hi,
I Would like to work on this issue. am an Outreachy Applicant too.

[2022-10-11 02:16] AdeolaAdekoya commented on #16
![perceverance - 2](https://user-images.githubusercontent.com/86787740/194981337-7fa39a2a-0f6b-4934-a944-15655584b9ba.svg)

![IMG_1516](https://user-images.githubusercontent.com/86787740/194981914-bc2bd76c-d0df-420a-8d67-997e129e84f4.jpg)

Everyone, here is my interpretation of the task. This image depicts a man reaching the finish line on top of one mountain and another mountain to emphasize that

[2022-10-11 02:18] AdeolaAdekoya commented on #16
@niyolynate hello Niyo, nice to meet you. You just need to add the interpretation of the task here to contribute.

[2022-10-11 02:35] niyolynate commented on #16
Hello Adeola
Thanks allot.

[2022-10-11 03:18] niyolynate commented on #16
![sketch 1](https://user-images.githubusercontent.com/98440370/194989052-d8aa361e-67a6-4fa8-a5e3-47c81d0195f9.png)
![Logo 1 Pers](https://user-images.githubusercontent.com/98440370/194989067-979eb193-383f-4470-88d6-6202144a62ad.png)

Hello everyone,
this is my interpretation of perseverance, when a dry bean is planted it dies first but still grows. there is still hope.

[2022-10-11 06:00] niyolynate commented on #16
A cohort studies are a type of research design that follow groups of people over time. A cohort is a set of users grouped together because of a common identifier
![Uploading sketch 1.png…]()
![ko](https://user-images.githubusercontent.com/98440370/195017305-8b025ca6-7403-44c4-a6c0-781d7a7038c6.png)

Having the ability to not quit in the face of adversity allows you to grow and realize your full po

[2022-10-11 06:29] oneboyfromife commented on #18
Nice concept you guys, but let's not forget the requirements for the logo

[2022-10-11 06:32] oneboyfromife commented on #17
Love the energy guys, but let's not forget the  requirements for the logo

[2022-10-11 06:34] oneboyfromife commented on #16
Great work guys, let's put the requirements for the logo to heart

[2022-10-11 06:37] oneboyfromife commented on #16
And I have a suggestion also, since she mentioned perseverance like the Mars rover why don't we something about the Mars rover in our logo

[2022-10-11 06:38] oneboyfromife commented on #4
That's great @kryptosjay

[2022-10-11 06:46] Lydiaofficial commented on #19
Adding to this, i would suggest we get rid of the "Life" part of the name because invariably, science is life.

However, i love the STEM suggestion because it encompasses everything that OLS is about (science, technology, engineering and mathematics.

Getting rid of the "L" will leave us with just "OS - Open Stem".

I went further to check the availability of the domain name " Openstem.com " and i

[2022-10-11 06:55] oneboyfromife commented on #19
@Lydiaofficial what about Open Stem Community?

[2022-10-11 07:30] niyolynate commented on #16
# The cohort logo
## Sketch

![Sketch logo](https://user-images.githubusercontent.com/98440370/195022206-a2667b96-55ab-431e-9e68-69b1365a4492.png)

Cohort Logo
![Cohort logo](https://user-images.githubusercontent.com/98440370/195022317-533e27b5-78b4-42b6-a182-1f4a36330eb5.png)

# Perseverance

Cohort Developers with Perseverance - is a slow consistence effort  of a group of developers with a commo

[2022-10-11 07:42] niyolynate commented on #16
Thanks allot
@ Oneboyfromife

[2022-10-11 07:50] yaa-chi commented on #15
Wow, this is amazing Ososeomo! Love the concept!

But @yochannah I think, it'll be best for OLS to have a constant logo then every other cohort can have a sub-logo to represent the topic of that year.

Just like what @Ososeomo has created👌🏾

[2022-10-11 07:54] manuuelab commented on #18
I like this logo, depicts Life and Hope but you missed out on the requirement of it being a square logo so maybe you could just redesign it

[2022-10-11 08:00] Ososeomo commented on #15
@yaa-chi I totally agree with the sub-logo suggestion. Its a brilliant idea. Thank you also for your feedback.👍

[2022-10-11 08:38] manuuelab commented on #18
Hey @yochannah so I was able to come up with roughly 6 ideas for the HOPE logo design. Please feedback from everyone would be highly appreciated
![IMG_1640](https://user-images.githubusercontent.com/115406817/195041451-526ec885-809e-48cf-9ff6-bef82a4e76d4.jpg)

[2022-10-11 08:47] Lydiaofficial commented on #19
Not bad to be honest. However, i think we should keep it as short as possible but let's see what @yochannah thinks..

[2022-10-11 09:26] oneboyfromife commented on #18
It's really lovely, everything is great but u prefer the fourth one more

[2022-10-11 09:42] AdeolaAdekoya commented on #16
That makes sense

[2022-10-11 09:44] AdeolaAdekoya commented on #16
You're welcome 😊

[2022-10-11 09:49] AdeolaAdekoya commented on #18
This is really good, welldone😊

[2022-10-11 10:14] Bisola15 commented on #18
Oh, in this way, I suggest the owner can put it in a square frame. That way it keeps the circle and in references to size, it'll still work

[2022-10-11 10:18] Bisola15 commented on #18
The fourth one is good, straightforward and so nice, If I could draw lol. But It might work as an icon when the size is reduces. That first thoughhh, girrlll!!!. Well done

[2022-10-11 10:45] Bisola15 commented on #18
The second logo totally works for perseverance by the way ☺️

[2022-10-11 11:08] Bisola15 commented on #15
This is very well done. We really cannot ignore the impact covid had on everyone that year. Very nice concept brought to life 👏🏾

[2022-10-11 11:24] manuuelab commented on #18
Thankyouuu

[2022-10-11 11:25] manuuelab commented on #18
hmm yes you're right though, I might just submit that idea for that as well. Thankyou by the wayy

[2022-10-11 11:43] Lydiaofficial commented on #19
I wrote an extensive process of how I would approach the renaming and rebranding of OLS.
Solution

This process will begin with the hierarchy to find out what problems they are trying to solve and the idea behind the creation of the organization.

I would begin by first asking the OLS hierarchy these questions:

1. How did the organization start?
2. What was and is their idea of the organization
3

[2022-10-11 13:04] MargaretPearl commented on #19
I like this, is there a way to incorporate an aspect of continuity

[2022-10-11 13:39] Bisola15 commented on #4
Hi @yochannah @bebatut  Bisola here, I'm an Outreachy applicant and would definitely love to try my hands on this issue.
Thank you

[2022-10-11 13:44] Bisola15 commented on #4
![Social preview A](https://user-images.githubusercontent.com/81020434/195107352-685f864c-dc0b-4cd7-999b-0b1ce98873df.png)
![Social preview A](https://user-images.githubusercontent.com/81020434/195107356-bd3e9afe-d7f5-4546-a8f5-27d778534517.svg)

This is a PNG and SVG view of what I tried my hands on.... Feedbacks would be very much appreciated. I had done some research on what social preview look

[2022-10-11 13:45] Bisola15 commented on #4
![Social preview B](https://user-images.githubusercontent.com/81020434/195107940-6da12660-49cc-4d09-b735-26bab388f710.png)
![Social preview B](https://user-images.githubusercontent.com/81020434/195107950-c521b89c-a916-4045-a74f-dd406361ea8b.svg)

Darkmode for the same designs

[2022-10-11 13:51] Bisola15 commented on #4
![Social preview C](https://user-images.githubusercontent.com/81020434/195109428-7840964b-7a8a-45fc-8a1c-18fd3120cbd3.png)
![Social preview C](https://user-images.githubusercontent.com/81020434/195109438-f5e2e2d8-8988-4d44-a138-9817960e518f.svg)

This is a second concept I worked on. Although h in my own bias, I prefer the first

[2022-10-11 14:18] AdeolaAdekoya commented on #19
This is really good, well done, Lydia. I love how much attention to detail you into your work. Here is my contribution, and I would love to hear from others.  When we say open STEM, people can argue that is excludes those people who are designers because it refers to (science, technology, engineering and maths). So, I am of the opinion that we use STEAM  so that people who are into art feel includ

[2022-10-11 14:30] MargaretPearl opened #24 "Design a logo for Open Seeds, OLS's # cohort"
![seeds 1](https://user-images.githubusercontent.com/72576042/195118972-2af95983-42a7-4430-a7a9-7b5af6fc0786.png)

[2022-10-11 14:41] MargaretPearl commented on #24
![ED11C8BF-6513-45A2-B225-9E8C2E99FE11](https://user-images.githubusercontent.com/72576042/195122176-b9f0fcfc-194a-4ac1-b614-910281056e80.png)

[2022-10-11 14:41] MargaretPearl commented on #24
![ED11C8BF-6513-45A2-B225-9E8C2E99FE11](https://user-images.githubusercontent.com/72576042/195122250-0c66e3bc-219d-428c-ac6e-76d9056aee4d.png)

[2022-10-11 15:17] Lydiaofficial commented on #19
That's a great suggestion.

[2022-10-11 16:12] oneboyfromife commented on #16
Thanks

[2022-10-11 17:21] Olakid645 commented on #19
That is a good one, let's await what our Mentor thinks of the innovation

[2022-10-11 18:19] Olakid645 commented on #15
![MASKED COHORT](https://user-images.githubusercontent.com/108859811/195168520-77daa5ab-f84e-4908-b9aa-31f0616c34db.png)

I made this Design on Photoshop with an ideal creation of mine in which the Mask represent the prevention of Covid to the organization or firm, the left hand side icon represent Engineering while the right hand icon represents Science and these two icons are Masked behind the M

[2022-10-11 18:42] Ososeomo commented on #15
@Olakid645 I'm blown away. This is really great.

[2022-10-11 19:05] ekjosh commented on #19
### Rebranding OLS

**OBJECTIVE**
To be a more inclusive community of scientists by removing perceived barriers for non-life scientists

**PROCEDURE**
The first question I will ask is if we want to do a `brand identity rebrand or refresh`. On the surface, they seem the same. But they are different. Refreshing is about updating what your brand is like to meet its new values, goals, brand voice, etc

[2022-10-11 19:07] ekjosh commented on #19
**TASKS**
Some ways to go about getting data that would aid this discovery session include:
- Competitor Analysis
- User surveys and interviews
- Focus groups

We also need to properly define our target audience.  This helps us in a very vital part of the strategy; building user personas.

[2022-10-11 19:39] Olakid645 commented on #15
Thanks @Ososeomo. I appreciate your comment. Let's see what our Mentor @yochannah perspective will be on this.

[2022-10-11 19:41] ekjosh commented on #19
**RENAMING OLS**
For a community that seeks to promote an inclusive culture that is not restricted to Life Sciences, it is only appropriate that the name reflects such desire.

Open Science represents making scientific research available and accessible to all (like Open Sorce, but for scientific research). This posed a challenge as I felt breaking the words apart might make it lose some of its sem

[2022-10-11 20:18] lhurvedavies commented on #24
Hi Margaret, is there a set style guide (colour, font etc) for Open Seeds that must be adhered to for the logo design?

[2022-10-11 21:49] Esyteck commented on #18
![IMG-20221011-WA0052](https://user-images.githubusercontent.com/112022744/195204642-7ea5fbc7-8e8a-499c-90f2-52b9a08bad22.jpeg)

[2022-10-11 21:50] niyolynate commented on #14
Hello
I would like to contribute to this Issue

[2022-10-11 23:08] niyolynate commented on #4
This is the Github preview image for open life science showing projects the group is working on, languages used and contributors. plus the logo.
![git social](https://user-images.githubusercontent.com/98440370/196012362-9eab78cb-2261-4eae-a873-b7ed3f4e5559.png)

[2022-10-11 23:10] niyolynate commented on #14
This is how my social media preview would look like
![phn preview](https://user-images.githubusercontent.com/98440370/195214783-735985ee-78c6-4d49-bf89-48bfd3361f6c.png)
![preview PC](https://user-images.githubusercontent.com/98440370/195214699-2c78e6da-8a37-42ad-a015-d8440ebfc6c0.PNG)

[2022-10-11 23:39] niyolynate commented on #4
Hell, @yochannah this is my social preview image for Github.

[2022-10-12 00:49] niyolynate commented on #4
![ols github](https://user-images.githubusercontent.com/98440370/195223980-e30b3f82-f8f6-4602-87cf-1be25cf77bb6.png)

Here is my design for github page review for OLS.
any guidance is welcome.

[2022-10-12 01:05] niyolynate commented on #19
### Naming having OLS, Open Life Science makes great sense, first of all allow me thank those that created the first Name. it said allot. still in suggestions for a new name, mine is

### Open Science and Technology Community (OpenSTC)

Science encompasses the systematic study of the structure and behaviour of the physical and natural world through observation and experiment. Concepts, theories, t

[2022-10-12 01:06] Blessing1135 commented on #19
@yochannah
      Generally, the first thing that comes to mind
when a product, organization brand, or company is to be renamed,  what pops up in mind is what happened? Why rename or rename such a brand? are Users complaining or what? Or is it to increase its value or create more awareness? I will be so inquisitive to know the reason, this will dare me to begin background check on the product, bran

[2022-10-12 01:36] niyolynate commented on #18
Hope loggo
![hope coh](https://user-images.githubusercontent.com/98440370/197522242-a627acb7-55d9-4b5c-a0d3-0b85a6990c01.PNG)

[2022-10-12 03:51] iremide1022 commented on #14
<img width="640" alt="social preview" src="https://user-images.githubusercontent.com/115456602/195245859-7ca481ec-732b-4c09-8d22-ccdbf82492ff.png">

[2022-10-12 03:55] iremide1022 commented on #14
![social preview (1)](https://user-images.githubusercontent.com/115456602/195246321-43984f4f-e283-4134-934d-470e6d3e78dd.png)

[2022-10-12 04:15] iremide1022 commented on #14
This is a social preview i created``

[2022-10-12 04:16] iremide1022 opened #25 "![social preview (1)](https://user-images.githubusercontent.com/115456602/195246321-43984f4f-e283-4134-934d-470e6d3e78dd.png)"
![social preview (1)](https://user-images.githubusercontent.com/115456602/195246321-43984f4f-e283-4134-934d-470e6d3e78dd.png)

_Originally posted by @iremide1022 in https://github.com/open-life-science/branding/issues/14#issuecomment-1275550062_

[2022-10-12 04:17] iremide1022 commented on #25
This is a social preview i created, pls check it out

[2022-10-12 04:19] iremide1022 commented on #25
This is a social preview i created pls help check it out

[2022-10-12 04:21] #25 closed

[2022-10-12 08:03] AdeolaAdekoya commented on #24
Hello @lhurvedavies  , not really the image just ought to be square, Vector format and Not too complex . they didn't specify what colors as they said sketch is allowed however,I like to adhere to OLS brand colors which you can find in the brand guidelines.

[2022-10-12 09:11] latifatakin commented on #19
Understanding why OLS wants to change the brand name; to have a better grasp of the OLS community and why they need a name change, I read the available information on the OLS website and also watched the videos on the OLS YouTube channel.

OLS has expanded to encompass a community of researchers and scientists from many other domains, including physics, anthropology, law, and archaeology, hence th

[2022-10-12 09:21] Blessing1135 commented on #14
Hello, @yochannah my name is Blessing  I would like to work on this project. Thank you.

[2022-10-12 09:44] niyolynate commented on #17
Ken
![skec](https://user-images.githubusercontent.com/98440370/195309277-b511438d-42b7-49f9-b19c-0ac8d74c7bbd.PNG)
![kenaz log](https://user-images.githubusercontent.com/98440370/195309424-5f5309a4-157b-41af-9a22-c37531b9cc24.png)

Kenaz ols fourth Cohort

[2022-10-12 10:41] Blessing1135 commented on #4
Hello, @yochannah my name is Blessing an outreachy applicant it will be a pleasure contributing to this Project. Thank you.

[2022-10-12 10:45] Esyteck opened #26 "Redesigning of open life science landing page"

[2022-10-12 10:59] Bisola15 commented on #19
Nicee... But won't people confuse it as the other WPS that’s  a document tool. Hmm

[2022-10-12 11:03] Bisola15 commented on #19
The mission and vision... Yes

[2022-10-12 11:36] niyolynate commented on #17
Kenaz rune is associated with inspiration and creativity that is created in togetherness.

![koll](https://user-images.githubusercontent.com/98440370/195329986-e0ad0d79-d73a-4f9c-ba61-036644435445.PNG)

[2022-10-12 11:54] yochannah commented on #19
Hey all. I've dedicated an hour to looking through comments on GitHub and it wasn't even nearly enough 😁  so a few general pointers:

(edit: hit enter too soon!)

1. The questions you're raising are great, ways of thinking through what the adoption might look like, and how people might react, if we ask them about possible names.
2. Understanding the org's mission and vision - yes, super important!

[2022-10-12 11:59] Bisola15 commented on #19
So focusing more on

So focusing more on finding a new name and less why do we want to find a new name?

[2022-10-12 12:00] Bisola15 commented on #14
Hi @yochannah   I would like to work on this issue

[2022-10-12 12:02] ekjosh commented on #26
I am interested in and would be absolutely delighted to work on this

[2022-10-12 12:02] Bisola15 commented on #15
Blew my mind!!. This looks amazing!! I can’t even.. but looking at the design it speaks more about OLS itself than the cohort. The engineering and science inside the mask.... What do you think?

[2022-10-12 12:02] AdeolaAdekoya commented on #19
Thank you, this makes moving forward easier.

[2022-10-12 12:05] Esyteck opened #27 "New Logo suggestion for open life science"
I have a new logo idea for Open Life Science
| Currrent Logo |
| -------------- |
![logo](https://user-images.githubusercontent.com/112022744/195337324-ea02c877-c410-4a77-b73d-e780c27794c4.png)

| Suggested Logo |
| ---------------- |
![IMG-20221011-WA0046](https://user-images.githubusercontent.com/112022744/195337461-5e09bb86-082c-4315-949a-72f63b24e731.jpeg)

[2022-10-12 12:19] ekjosh commented on #18
This is the first suggestion. It's a logomark that has the letter "h" with the curves signifying streams of water. Water gives life, hope.
![1665576983178215918205288154747](https://user-images.githubusercontent.com/38887940/195340335-81f2fe95-937c-4aa5-998b-cba0922fa8d3.jpg

[2022-10-12 12:28] ekjosh commented on #18
![IMG_20221012_132322](https://user-images.githubusercontent.com/38887940/195342068-3a58f37f-f11b-4b5b-8397-5f99c6dc3716.jpg)

This logo symbol is a combination of a rising sun (to signify hope, breaking of new knowledge) and a box (signifying a controlled environment, depicting conditions scientists work in)

[2022-10-12 12:33] Esyteck commented on #18
![16655779188623060962712421274851](https://user-images.githubusercontent.com/112022744/195343343-db1c11bb-46df-4f59-a5cd-439348a3edd7.jpg)
This logo is a word logo with a symbol of love. Love and hope has a huge correlation

[2022-10-12 13:31] Blessing1135 opened #28 "Open life science Logo Illustration"
I would like to add to this Project by contributing if Permitted.

[2022-10-12 14:58] latifatakin opened #29 "OLS Landing Page Redesign"
I went through the OLS landing page. I noticed some areas of improvement.

1) A search field on the website will make it easier for users to navigate the website.

2) Hero section with a call-to-action button. The hero section will be about the OLS mentorship program and a CTA button that will prompt the user to register for the next cohort.

3) A section that will explain what open science and OL

[2022-10-12 14:59] latifatakin commented on #29
@yochannah I would like to work on this task

[2022-10-12 22:12] niyolynate commented on #17
Kenaz logo sketch
![Capture](https://user-images.githubusercontent.com/98440370/195456780-d9e757ec-317a-45bb-8dd3-eb7f242073a7.PNG)

### Kenaz Logo for the forth cohort of the OLS
Since Kenaz Rune signifies awakening and growth it represents the brilliant flame of divine inspiration:
"The fire in a person trying again, when we fail we rise again even if we are weak at first, we focus again to a fu

[2022-10-13 00:49] Muyheeza-design opened #30 "To contribute to Re-brand OLS name and materials"
Hello,

I would love to contribute to this project.

[2022-10-13 03:37] iremide1022 commented on #18
![0932a505-5e1a-4116-b033-3babce4ce6e4](https://user-images.githubusercontent.com/115456602/195493507-e9a351bc-8dd8-471d-a510-e1f4ead59c1f.jpg)

[2022-10-13 03:39] iremide1022 commented on #18
this a sketch i made for hope @yochannah help check it out please

[2022-10-13 07:28] kosonyemedaniella commented on #17
![Uploading 9E624700-A041-4584-BFC8-AC505EB11942.jpeg…]()

[2022-10-13 07:29] kosonyemedaniella commented on #17
Kenaz means torch , illumination. My idea came from the brightest and natural source of light , the sun .

[2022-10-13 07:52] kosonyemedaniella commented on #17
![image](https://user-images.githubusercontent.com/115454385/195535729-f948b54c-cbe5-4fcd-8549-eed2733e2e5a.png)

[2022-10-13 11:33] niyolynate commented on #15
![olpppp](https://user-images.githubusercontent.com/98440370/195584888-dd5652c2-ff2c-49aa-9ce1-670654b935d2.PNG)

![kkk](https://user-images.githubusercontent.com/98440370/195584824-5e40a19e-31b8-4977-8b05-73896d8d1237.png)

Using Canva i made this design first from the OLS logo then dressed a mask on it to be a masked Cohort, open life science is a mask of many packages including Mentorship, Love

[2022-10-13 13:37] Bisola15 commented on #29
Hi @latifatakin I agree with all you mentioned up there. There is an issue opened to discuss how the site can be made better. Applicants had a call where we discussed these changes you raised in detail, however mentor @bebatut had clarified that those would be the job of the interns.

The most we can do during this stage is suggest possible ways to make the website better and fix minor changes.

[2022-10-13 14:08] Bisola15 commented on #28
Hi Blessing!! So there's currently an issue opened to discuss a name change for the OLS. If there is a name change, a new brand identity will also be borne. which means the logo will be changed. I suppose for now this might not be done. However, the mentors can clarify on this. For faster response, you can also send a message on slack

@yochannah @bebatut

[2022-10-13 14:12] Bisola15 commented on #27
OMG! This is beautiful! 🥺🥺 Amazing! Well done
There's a but 🥲
So there's currently an issue opened to discuss a name change for the OLS. If there is a name change, a new brand identity will also be borne. which means the logo will be changed. I suppose for now this might not be done. However, the mentors can clarify on this. For faster response, you can also send a message on slack
@yochannah @beb

[2022-10-13 14:16] Ismael-KG commented on #14
This is a great issue! I do have a few questions, though. It would be great if everyone could help with them:

1. What's a social preview?
2. Does it look the same wherever a link is shared? (Say, Slack, Twitter.)
3. What other things are important about social media previews?

@iremide1022, as you opened the issue, I wonder if you could edit the opening comment once we have some answers?

That wa

[2022-10-13 14:18] Bisola15 commented on #4
Hi! Social messaging link? What is that please?

[2022-10-13 14:42] Bisola15 commented on #14
1. Hi @Ismael-KG A social preview is a pictorial representation of what a link to a brand will look like when shared to other people. For example, If I copied the link to OLs's GitHub site and pasted it to a friend, what would they see.

2. No, it does not look the same. From my research, Social previews on slack are generally different, they are longer  (with the description running longer) . If

[2022-10-13 15:35] Esyteck commented on #26
Hi@yo I would love to work on this.

[2022-10-13 15:41] Esyteck commented on #24
![Uploading 16656756097387224124580936705816.jpg…]()
I'm not too good with sketches and my camera isn't very great. But the real design is bound to be amazing

[2022-10-13 15:53] Esyteck commented on #27
Thanks Bisola

[2022-10-13 15:54] Esyteck commented on #30
Hi@yo I would love to contribute to this project. Kindly approve

[2022-10-13 15:56] Esyteck commented on #29
Oh wow! That's a cool clarity @Bisola

[2022-10-13 16:00] Esyteck commented on #27
Thanks dearest Bisola. We are designers. We are always ready to design
something new. No worries, once the decision is made, I'll design something
new to match the new brand. Thanks for appreciating my design though. It
meant a lot to me

On Thu, Oct 13, 2022, 3:13 PM Bisola Ahmed ***@***.***> wrote:

[2022-10-13 16:21] Bisola15 commented on #27
Always ready to design dear!!! Yess!!! 💃🏾💃🏾

[2022-10-13 16:23] NPDebs commented on #14
- **Social previews/cards** offer a "preview" or sample of what a post (or a link) would look like when shared across social media platforms.
They serve as eyecandy, used to convince people that the link is click-worthy.
S.Ps are great for branding, and promote trust/identity. They also mean you don't have to explain what a link you shared contains. 😅

- I don't think they look the same everywhere

[2022-10-13 19:41] Olakid645 commented on #4
Hi @yochannah I am interested in working on this task

[2022-10-13 19:52] Olakid645 commented on #15
Thanks for the amazing feedback @Bisola15, I just wanted the masked cohort icon to have representation of the main idea. Suggestions are allowed as well.

[2022-10-13 22:29] Olakid645 commented on #4
![OPEN LIFE GIT TASK](https://user-images.githubusercontent.com/108859811/195722104-97c5f230-4396-4e59-ad7a-43f3e17a7048.jpg)

This is a jpg  format of my Git Social Preview project after series of research carried  out with modern style adopted. Innovations are gladly welcome.  What do you guys think of my Design?

[2022-10-13 22:54] yaa-chi commented on #19
### Hi, @yochannah I Trust you are doing fantastic!!

So there's already been a lot of contribution to how we should rebrand OLS of which I am so happy and excited to be in a community with such talented and incredible designers! 😍

I have been doing a lot of observation concerning OLS and the Open Source community as well. Which has enabled me to realize that if we want to re-brand OLS in a way t

[2022-10-13 23:29] mkpouto-inyang commented on #18
Hello @yochannah don't know if I'm a little late to this but can I work on this as well? Also, do the logo sketches have to be posted here or on the slack channel? Lastly, please what resources can we access to get a better understanding of what each cohort represents, so that we can get a better understanding of how to properly represent that in the logo?

[2022-10-14 03:16] ricMbugua commented on #30
Hi is there anyone working on this issue?

[2022-10-14 06:01] MargaretPearl commented on #24
Hello Esyteck, the uploaded Image has no preview, do you want to attach it again and share with us.
Thank you and cheers.

[2022-10-14 07:22] manuuelab commented on #15
Hey guys, so I've got some sketches for logo idea for Masked Cohort. I just kept my mind free and open, and these are what I could come up with. Both logos would need to be supported by text to clearly pass across the idea. Please let me know your thoughts on this @yochannah
![IMG_1674](https://user-images.githubusercontent.com/115406817/195786786-1d1930e9-3ede-4ea2-a2ca-813234e77191.jpeg)

[2022-10-14 07:30] manuuelab commented on #17
@yochannah and everyone, I loved working on these logo ideas, I hope either gets the chance to be vectorized. Since Kenaz means torch, intelligence, bright, I decided to depict that using a torch, fire, the brain/mind, books. The symbol on the torch on the bottom left logo stands for Fire in Hebrew so and Kenaz being a Hebrew word, made it feel like a good concept. Looking forward to feedback on t

[2022-10-14 08:55] niyolynate commented on #17
The Kenaz logo for the OLS'S Fourth Cohort
![Uploading koll.PNG…]()

[2022-10-14 10:31] Esyteck commented on #14
I will love to work on this issue @yo

[2022-10-14 10:55] Ismael-KG commented on #14
Thanks @Bisola15 and @NPDebs! That was very helpful! And everyone else for your interest in working on this.

@iremide1022, thanks for mentioning you can edit the opening comment! Maybe it can look like this (but feel free to make edits):

[code]

(This text is formatted so you can copy and paste directly, without needing to format any further – I hope this helps and is not confusing! But please a

[2022-10-14 11:35] Ismael-KG commented on #30
Just linking to issue #19, which might have some useful thoughts on this topic.

[2022-10-14 11:57] latifatakin commented on #29
@Bisola15 Thanks for clarifying this 🌷

[2022-10-14 11:59] latifatakin commented on #30
Hello @Muyheeza-design ,an issue #19 is open already for OLS name rebranding.

@yochannah mentioned that everyone is welcome to contribute on the issue.

[2022-10-14 12:00] salmasabo commented on #18
Hello @yochannah this is my submitting for the Hope cohort logo.my thought process is that I used hands here to depict the word hope and the hope of achieving greatness in a community when it's members come together to help learn and grow together in the bid to achieve an end goal.the leaves at the center stands  for life and science which is what OLS is about.![image](https://user-images.githubus

[2022-10-14 12:01] latifatakin commented on #27
@Esyteck the design you came up with is really lovely 😳. Lovely is an understatement. I love that it depicts OLS perfectly and also in tone with the brand colors.

[2022-10-14 12:07] salmasabo commented on #18
I like how you made the sun merge together with the square box to give one continuous logo.has a deferent feel to it

[2022-10-14 12:14] salmasabo commented on #18
I love what you did with the H and how you made the heart to be in place of O,it's truly creatives.

[2022-10-14 13:17] Preciousutos commented on #18
Really lovely sketches. Nice work. I resonate more with the First sketch. It gives me this helping hand feeling and the hope OLS gives with love.

[2022-10-14 13:19] Esyteck commented on #27
Glad you like it!

On Fri, Oct 14, 2022, 1:01 PM Latifat Akinyemi ***@***.***>
wrote:

[2022-10-14 20:41] caxrii commented on #4
Hi, I am from the Outreachy 2022 December Internship. I would like to work on this task if it's still open.

[2022-10-15 02:49] iremide1022 commented on #14
@Ismael-KG all you comments are duely noted and I added the changes already, thank you! and yes it really helped

[2022-10-15 03:02] iremide1022 commented on #27
@Esyteck this is amazing

[2022-10-15 05:52] Esyteck commented on #27
Glad you like it!

On Sat, Oct 15, 2022, 4:02 AM Iremide ***@***.***> wrote:

[2022-10-15 17:17] caxrii commented on #18
@yochannah
![IMG_20221015_181240_510](https://user-images.githubusercontent.com/99927193/195999461-6ec830f3-1ba6-4b05-97cc-17306f9788fc.jpg)

[2022-10-15 17:26] caxrii commented on #18
@yochannah
![IMG_20221015_182454_850](https://user-images.githubusercontent.com/99927193/195999788-f6b9202d-4e74-4a84-b6ad-78dbe89fa57c.jpg)

[2022-10-15 17:39] caxrii commented on #18
@yochannah
![IMG_20221015_183857_774](https://user-images.githubusercontent.com/99927193/196000389-b57015d9-3fe0-4aae-99ed-50098e340601.jpg)

[2022-10-15 19:14] caxrii commented on #4
![Light Theme](https://user-images.githubusercontent.com/99927193/196003972-8500e8ad-e244-4e6c-afcf-63cca0cdef18.png)
![Dark Theme](https://user-images.githubusercontent.com/99927193/196003982-5b391259-a3a2-46b5-b3fb-65bfa98f8532.png)
![Light Theme](https://user-images.githubusercontent.com/99927193/196003988-d8649e9d-e16e-43ce-80ee-c3a495f92135.png)
![Dark Theme](https://user-images.githubusercon

[2022-10-15 20:19] ZeedDeveloper commented on #26
@Esyteck I would love to work on this task, can I be assigned to it, please

[2022-10-16 07:09] caxrii commented on #14
@yochannah @Ismael-KG
https://github.com/open-life-science/branding/pull/33#issue-1410271041

[2022-10-16 11:27] NPDebs commented on #14
[code]

@Caxri7 You may have written your Link wrong. 😃

[Here's the proper link...](https://github.com/open-life-science/branding/pull/33)

[2022-10-16 14:22] Idowufaith-data commented on #18
Good afternoon everyone and @yochannah, took me a while to find this but i made few images that i think symbolizes hope. Kindly let me know what you all think
![IMG_4358](https://user-images.githubusercontent.com/109921228/196040761-3b9d4e69-11c3-4b95-83aa-5b7260efb92b.jpg)

[2022-10-16 14:40] Idowufaith-data commented on #15
This looks really amazing and i think it interprets the "Masked cohort' concept effortlessly

[2022-10-16 14:40] ekjosh commented on #18
Thank you

[2022-10-17 09:50] Preciousutos commented on #19
@yaa-chi this is very detailed and inspiring. Something came to mind when I saw this:
Oclins -Open Community for Life and Non-life Science
O- Open
C- Community
LI- Life
N- Non-life
S- Science

[2022-10-17 12:23] Ismael-KG opened #34 "Brainstorm: General Guidelines for Cohort Logos"
This issue is to capture thoughts about establishing guidelines for cohort logos design. A conversation over on Slack has shown that this is a useful thing to think about.

We can discuss what those guidelines might look like through here. The final output would be a guidelines that ensure consistency across icons.

This issue is open for many people to contribute.

[2022-10-17 12:32] AdeolaAdekoya commented on #34
Have an understanding of the target audience so the  logo would be something that is of relevance to the cohort

Shouldn't be squashed and in an SVG format to enable it scale without losing quality.

Adhere to the brand guideline to ensure font and color consistency

Ensure the logo is legible

[2022-10-17 12:34] Lydiaofficial commented on #34
As mentioned on slack, these are some of the guidelines i believe should be considered ;

 1. Cohort name is a determinant factor for the choice of icons.
 2. Colours also play a very important role.
 3. Choice of font
 4. Method of communication
 5. Cohort idea/philosophy. It is important to factor in the sole reason behind the cohort  or the problem the cohort seeks to solve.
 6. And of course,

[2022-10-17 12:51] Bharlikiss commented on #34
I agree with @Lydiaofficial and @AdeolaAdekoya , to add to that we should consider the font choice because fonts have tendencies to be interpreted in different manners, the size is extremely important so as not to lose shape and quality and also if it is legible and works well for both display and printing projects. Then we should consider what logo orientation we are going with  i.e horizontal or

[2022-10-17 12:54] ZeedDeveloper commented on #29
In addition to what @latifatakin has mentioned, I think the following will also look good on the website

 Clear grouping of information on the landing page into sections for quick access to the information a user might be needing
 without having to read all the information on the landing page. I will like to suggest the following adjustments-

   1. An hero section that explains, at first contact

[2022-10-17 13:48] Bharlikiss commented on #26
Hi @Esyteck i would love to be assigned this task

[2022-10-17 13:54] Bisola15 commented on #34
Thanks for opening this as an issue.
As @AdeolaAdekoya has mentioned, the logos should have an svg format for easy scalability. They can also come in png and psd format depending on the use but svg is very important.
The thickness of the stroke in terms of width
The size of the logos and icons.
Icons come in 24x24, 16x16, 32x32 etc.. but of course having it as an svg means the design of one size i

[2022-10-17 15:01] latifatakin commented on #34
Intuitiveness: the icons should be easily understood. When users come across the icon, they should be able to interpret and know what it stands for without having to search it online or stress over it mentally.

Scalability: the icons should be in SVG format to avoid distortion whenever there is a need to increase/decrease the icon size.

Like @Bisola15  said, they can also come in PNG or PSD but

[2022-10-17 15:06] Esyteck commented on #34
I totally agree with everyone's suggestion. However I'd like to add a little of my intuition. Firstly, I guess we all have agreed on going ahead with an icon guideline. I'm thinking, just my thinking though that we should streamline our suggested guidelines to make conclusions easier.

A simple trick to create a memorable logo is to first have a unique concept. I'm sure that's where we are headed.

[2022-10-17 15:11] AdeolaAdekoya commented on #34
This is a great perspective, especially on the colors part.

[2022-10-17 15:13] latifatakin commented on #29
@ZeedDeveloper I agree with your suggestions. Landing page is the first page a new user will have contact with and therefore, it has to have sufficient information about OLS.

Also, I went through the website again to check for further improvements. I think a search bar is needed so as to improve user experience.
 A search bar will enable users to navigate the app faster.

[2022-10-17 15:20] oneboyfromife commented on #18
Love it

[2022-10-17 15:53] latifatakin commented on #34
I agree and resonate with your points. Although I have a different opinion on color.
Each cohort is part of OLS and OLS is a brand with a defined brand identity.

Color is an important part of brand identity and it should be uniform so as to maintain consistency.

If each cohort has different colors, then there won’t be consistency.

I’d suggest that the primary color should be the same for all co

[2022-10-17 15:55] Esyteck commented on #34
Ok..you are right dear. Absolutely right.

[2022-10-17 16:02] caxrii commented on #34
I think the logo of each cohort should be unique.
We should understand the reason for the logo and the color of the logos should be consistent across all cohorts and there should be a design style that would be used when creating the logos and icons.
Accessibility should also be considered when creating the logos and icons for each cohorts.

[2022-10-17 16:49] Ismael-KG commented on #34
This is all amazing! I am going to have a go at summing up some of the themes (there is a question at the end, because I think I caused some confusion!):
1. @AdeolaAdekoya reminds us that the logos should be relevant to the cohorts. Remember that this is achieved mostly by cohorts picking their own names (see #15 #16 #17 #18 ). Maybe we can suggest that cohorts should be clear about their "philoso

[2022-10-17 16:50] Lydiaofficial commented on #19
Hi @yochannah , I hope it's okay if i ask for more clarification on this?

[2022-10-17 16:53] Bisola15 commented on #34
Oh, I think sticking with logos are better @Ismael-KG 😅😅.  As designers, icons and logos are two different elements and the guideline to creating them are different to an extent.

[2022-10-17 17:00] caxrii commented on #34
@Ismael-KG @Bisola15 sticking to logos would be great

[2022-10-17 17:03] caxrii commented on #34
@Ismael-KG about the accessibility. When designing the logos users with disability should be considered.

[2022-10-17 17:08] jilaga commented on #34
@Ismael-KG I actually think icons sound better because they represent the sub-identities of the general OLS brand, bearing in mind that logos can be abstract but icons are clear interpretations as the primary goal is to communicate the names of the OLS cohorts quickly and clearly.

[2022-10-17 17:27] latifatakin commented on #34
@Ismael-KG I think sticking to logo will be better. Like @Bisola15 mentioned, logo and icons are quite different and there are different approaches to their design

[2022-10-17 17:41] Olakid645 commented on #34
It has been a good comment from everyone that has contributed to the guideline for cohort icons but there seems to be a question that no one is asking or talking about.

Each Cohorts namely ; (Design logo for "Masked Cohort", cohort 2 of OLS.  #15 https://github.com/open-life-science/branding/issues/16 https://github.com/open-life-science/branding/issues/17 https://github.com/open-life-science/bra

[2022-10-17 18:47] Preciousutos commented on #34
Amazing feedback from everyone. So here's my though on the unique logos for the cohorts. Whatever feel of the logo, be it outlines or filled, should be consistent with the OLS logo. Same goes with the typography and colour. It should be consistent. The cohorts are a sub of OLS and each mean/stand for something unique. @Ismael-KG Icons would have been a better word, but to avoid misconception of th

[2022-10-18 08:22] kosonyemedaniella commented on #34
I really do love the feedback from everyone. Here’s my take on this. A design system is important as it ensure uniformity in sense of size , spacing and it also provides clarity for the users. The logo should resonate with the meaning of the cohort  to make it very much easy to interprete. Brand colour should be used as primary colors to set the mood of the brand expression

[2022-10-18 08:54] iremide1022 commented on #30
@latifatakin very true this issue has been opened for contributions before

[2022-10-18 08:59] iremide1022 commented on #34
I would also suggest that the new logos to be designed should also portray what the entirety of OLS is all about the same colors should be maintained as green symbolizes life🍀( my thoughts)

[2022-10-18 10:43] Preciousutos commented on #15
Hello. Here's my contribution in sketching a unique logo for Masked cohort. My approach in sketching this was first analysis the meaning of the individual words then combining both.
 Masked: Wearing a mask on all or part of the face. Conceal from view
 Cohort: a group of people with shared characteristics.
In my attempt to combining both meanings in one, I made the first sketch (blue sketch). This

[2022-10-18 10:58] Preciousutos commented on #18
Hello. Here's my attempt to sketching a logo for Hope. Understanding the meaning of hope; Hope is a feeling of expectation and desire for a particular thing to happen. This informed the ideas I had while sketching. There were a few things that symbolizes hope, one is a dove, hence the first two designs(from your left) the V-like shape symbolizes a hand, in summary this symbolizes holding unto hope

[2022-10-18 12:11] Preciousutos commented on #17
Kenaz: torch, fire, illumination.
In my research of Kenaz, I realized a lot is associated with it.
Kenaz symbolizes the control and harnessing of fire for warmth and illumination. It represents our having harnessed forces and energies greater than ourselves. Kenaz is like a torchlit library, and the energy is clearly filled with unlimited potential to learn and to map.

So I made a few sketches to

[2022-10-18 18:24] iremide1022 commented on #15
@Olakid645 this is awesome 🥰
Do you think it would look any better if those ropes are removed ?

[2022-10-18 18:27] iremide1022 commented on #16
@niyolynate this looks amazing, the concept is understandable and simple, do you think the black lines can be removed, let’s check the view of that🤗 or what do you think?

[2022-10-18 18:29] iremide1022 commented on #34
@Lydiaofficial @Bisola15 @Preciousutos @AdeolaAdekoya what do we have on ground remember we are to brainstorm together🤗, any conclusions yet?

[2022-10-18 18:55] AdeolaAdekoya commented on #34
Sticking to logo's is great because they mean different things and can cause confusion

[2022-10-18 20:41] Bharlikiss commented on #29
@latifatakin @ZeedDeveloper @Esyteck Well said, i also noticed that the site needs a total modern arrangement like
1. The hero section could do with a more simplified header section with the particular page indicator being in form of a button
2. The Hero section could do with less text and more of a well explanatory image in form of slider carousels that will better depict the summary of OLS and a

[2022-10-18 21:55] jilaga commented on #19
I like to think of this as a fun approach to finding the future of OLS by looking into its present. This involves rethinking strategy for a possible new name, new logo, and general outlook with the intention of developing a fresh differentiated identity in the minds of the community and investors.

**What is OLS?** It is a mentoring and training program for open science ambassadors.
**Who are the

[2022-10-19 08:30] iremide1022 commented on #14
@Ismael-KG is there anything else that needs to be done concerning this issue, please I need a guide 🙏

[2022-10-19 09:31] MargaretPearl commented on #17
@Preciousutos this is great.

I like the first one!

[2022-10-19 09:38] NPDebs commented on #34
I've just read through this thread, and I must say, we have really talented people here. 💯👏🏼

Just to add a "few" extra words...
Indeed, a good logo must be scalable, distinct and capable of embodying a brand identity (and message).

OLS encourages diversity and that should reflect in how we create synergy between the various elements of design.

For example, since colors convey different meanings

[2022-10-19 09:47] EstherPlomp commented on #19
Hi all! Thanks for thinking about the rebranding and the cool names you came up with! As a community member I'd like to caution against two things:
1. focusing on science/STEM, several community members do not have this background and would be excluded by this
2. That said, rebranding makes more sense if moving away from the life sciences and keeping it more general, like an 'open community'.

Our

[2022-10-19 09:51] kryptosjay commented on #34
if am to say i think
1. knowing  the story behind the organization, i think it will inspire what the designs will look like
2. no matter what never deviate from the color, already its a brand that is already existing taking away the color might not communicate well with clients
3. consider the font and size you are going to be using let it be clear and readable,
4.  the logo should be scalable, si

[2022-10-19 09:56] yochannah commented on #15
Some quick comments

- people + mask is a gorgeous combination, thanks to everyone who has been thinking and working on this! 🙌
- mmm, the bluegreen colour is tasty and soothing.
- For the logo from @Olakid645 with the three words engineering, masked, and science - gorgeous! If I was taking it to be used for things, I'd probably want the arrows removed. It works well in big, but logos need to also

[2022-10-19 10:04] Olakid645 commented on #15
Thanks for the nice comment @iremide1022, I just gave your innovation some thought and it seems nice and will make the logo more  simple and precise.

[2022-10-19 10:06] kryptosjay commented on #19
TO KNOW POSSIBLE NAME OLS SHOULD USE WHY REBRANDING
First why are you considering renaming it, maybe if you can really know why you are rebranding it will go a long way,
Is it going to affect the community, you can really answer that if you conduct a research through surveys
Secondly consider what your employees and client thinks about it
Then we also have to consider the core values and mission a

[2022-10-19 10:16] Bisola15 commented on #19
Hi @EstherPlomp It is very insightful to have a feedback from someone who is already in the community. When you say a  general discussion meeting, does this include us current applicant or just the community members? And definitely it would be a good start.

Thank you very much for going through this .

[2022-10-19 10:32] Bisola15 commented on #19
@jilaga I like your ideas, the part about the total rebrand/ full rebrand is spot on

During the call we had on Friday, @yochannah had given us a brief insights as to how the name OLS came to be and after a being around for a while, I can imagine it has stuck with some folks, therefore, a full rebrand might be a bit of a hassle without proper PR to follow. I would suggest on the brand name; if the

[2022-10-19 10:43] EstherPlomp commented on #19
Hi @Bisola15, I think this can be an open discussion for anyone interested! But that would be a good idea to discuss: how should this be approached? (I think that was a question by Yo earlier as well)

[2022-10-19 10:45] Bisola15 commented on #19
We do have a meeting with Yo this Friday, Is it something we can work on there with her? with the community members that are available?

[2022-10-19 10:46] jilaga commented on #19
@Bisola15 you capture my sentiments in exact words. I too would vote for a *partial Rebrand* because I don't think a community that has 400 members and active investors would adjust easily to a total overhaul of the brand. We can adjust certain elements to catch up to trends while maintaining the core aspects and identity of the brand.

[2022-10-19 10:48] yochannah commented on #17
Wow, all the creativity here around light, sources of fire, etc. is very inspiring. I'd love to see some of the sketches in vector format, too!

[2022-10-19 10:51] Bisola15 commented on #19
@jilaga Be like I came to snoop in your head 😂😂 Let's see what others think too 😊

[2022-10-19 10:54] latifatakin commented on #19
Hello Blessing, I like your suggestions. To answer one important question here; the reason for OLS rebrand was stated in the document on Outreachy. The reason is because OLS has expanded and has been adopted by researchers in other field such as Law, anthropology etc
And the name OLS means Open Life Science which might not be inclusive of researches in other fields.

[2022-10-19 10:55] jilaga commented on #19
😃 😃 I know right. Do we have another meeting on Friday?

[2022-10-19 10:57] Bisola15 commented on #19
Yeah @jilaga We do. Yo posted the Link on slack. Think it is pinned.

Tagged you on the post

[2022-10-19 10:58] jilaga commented on #19
alright, thank you.

[2022-10-19 11:04] latifatakin commented on #19
This is absolutely amazing. The presentation is highly detailed and straight to the point. And I like the logo also. Well done 🌷.

I have a question please; from the document provided for Outreachy contributors, we were made to understand that OLS is contemplating rebranding because OLS has expanded to accommodate researchers from other fields such as Law and anthropology. Hence the need for the p

[2022-10-19 11:12] Olakid645 commented on #15
It was a pleasure that @yochannah recognized different ideas brought to life by my peers and I. In accordance to her review on my design and the innovation raised by @iremide1022 I worked on the logo and below is the result;

![MASKED COHORT](https://user-images.githubusercontent.com/108859811/196674528-bf9df225-ce95-4ac0-bc4d-f0a8368277b5.png)
![black-t-shirts-with-copy-space](https://user-images

[2022-10-19 11:15] latifatakin commented on #29
@Bharlikiss Absolutely good points raised.

[2022-10-19 11:47] Preciousutos commented on #15
@yochannah my next step is to design the sketches in a vector file and add colors.
![Masked cohort](https://user-images.githubusercontent.com/82149094/197831875-bfff28ac-0f17-4050-8733-356e5a13c376.jpg)

[2022-10-19 11:59] ekjosh commented on #17
So, I came up with two concepts after exploring the Scandinavian (Norwegian) origin and use of the sharp edges and lines in their lettering.
![IMG_20221019_125513](https://user-images.githubusercontent.com/38887940/196684592-d2a85f05-8bae-42ae-96f4-f70e735f2994.jpg)

[2022-10-19 14:03] Braide1995 commented on #30
Hi, I would love to contribute to this issue

[2022-10-19 14:35] Braide1995 commented on #34
Very detailed contribution for everyone. I must say, we have so much talents here.

Also, I also think sticking to 'logo' rather than 'icon' is more preferable.

I think for a successful and effective brand logo, the four cardinal rules to adhere to are;

1. How the logo reflects the company in an honest and unique way
2. Keeping it minimalist and simple
3. Scalability, like many people mentioned

[2022-10-19 14:40] Ismael-KG commented on #14
Good question! Issues serve as a discussion forum – they help get ideas flowing and, hopefully, end in some form of consensus. In this case, we're trying to figure out what the social preview should contain and how it might be formatted to work on different platforms. For the purpose of this issue: have we accomplished this?

And then there's the next step, where pull requests serve as the actual

[2022-10-19 14:43] Ismael-KG commented on #30
Just closing this issue as you are all welcome to contribute to #19 😊

[2022-10-19 14:43] #30 closed

[2022-10-19 14:51] Bisola15 commented on #14
Thank you @Ismael-KG Seeing as the definition of social preview is similar, I would say we have accomplished it.

Already checked out some. I'll go round to see if there are more 😌

[2022-10-19 15:07] Esyteck commented on #26
Hi @Bharlikiss, I think we should work together on this. What do you think?

[2022-10-19 15:08] Braide1995 commented on #19
Love that all presentations are extensively detailed and straight to the point. And I like the logos from @latifatakin @Lydiaofficial and all others.

I also think putting already existing members to consideration is top tier. As we want them to be able to interact easily with the community.

Brand name suggestions could be carried out via;
1. Conducting interview
2. Survey questions and
3. Group

[2022-10-19 15:09] Bharlikiss commented on #26
Hello @Esyteck sure, that'll be great. What next

[2022-10-19 15:11] Chalcedony219 commented on #14
Thank you @Ismael-KG
I think we’re on the same page

[2022-10-19 15:12] Esyteck commented on #26
https://olsinternships.slack.com/files/U045JBYD2LE/F0474CAT4SZ/macbook_pro_16cool.png

[2022-10-19 15:13] Esyteck commented on #26
Alright check out my mock up and see what we can modify. Suggest something or possibly come up with any idea then we look into it ok

[2022-10-19 15:18] Bharlikiss commented on #26
the link isn't opening

[2022-10-19 15:25] latifatakin commented on #14
@Ismael-KG I believe we have achieved the first purpose which is to figure out what social preview should contain.

For the second part which is the action that follows, we are on track also. I think some suggestions here and there and possibly additional pull requests and then we will achieve our goal.

[2022-10-19 21:23] yaa-chi commented on #19
Hiii Thanks for the kind words!

So the reason I used the L for Life sciences is because OLS stated on their website that they would like to keep that life science but still expand to other fields.

Right? @yochannah @Ismael-KG

[2022-10-20 06:30] ekjosh commented on #17
Hello, @yochannah

Here is my submission for the logo design
![Kenaz-05](https://user-images.githubusercontent.com/38887940/196872926-634db975-3f81-4497-ac7f-755678bc3d0b.png)
![Kenaz-06](https://user-images.githubusercontent.com/38887940/196872929-d3b754ce-3748-42ec-a3b8-2954c3ad4e91.png)
![Kenaz-07](https://user-images.githubusercontent.com/38887940/196872930-59fd538d-f96d-4150-a2b0-39f7649e1187

[2022-10-20 08:43] Ismael-KG opened #38 "Brainstorm: Representing OLS' Values"
This issue is to discuss how we represent (in colour, image, text...) the values of OLS. We can follow two stages for this:
- [X] First, we should collate resources that discuss OLS' values (there should be useful info across OLS' repositories, social media activity and website). We want to understand what the values of OLS _are_, which requires research.
    - From [the website](https://openlifes

[2022-10-20 09:08] caxrii commented on #38
@Ismael-KG To collate resources that discuss OLS' values and understand what the values of OLS are we need to note important things like

1. Trademark, logo and tagline
2. Visual assets
3. Digital assets
4. Marketing and advertising strategy
5. Social media engagement levels
6.  Customer retention

[2022-10-20 09:11] niyolynate commented on #26
I would also like to participate in this design.

[2022-10-20 09:13] Ismael-KG commented on #38
Can you link to places where OLS discusses its values?

[2022-10-20 09:16] caxrii commented on #38
Okay

[2022-10-20 09:26] NPDebs commented on #38
For sure...

[2022-10-20 09:28] jilaga commented on #38
Here is somewhere on the website that speaks on the core values of OLS https://openlifesci.org/community I went ahead to list them below for accessibility

**Education**: Educate scientists about open science

**Transparency**: Emphasize transparency and the sharing of resources, material, knowledge, and experiences

**Open science:** Promote citizen science and decentralized access to science

**

[2022-10-20 09:30] NPDebs commented on #38
@Ismael-KG Thank you for opening this issue.

These resources provide a view of some core OLS values...

https://openlifesci.org/code-of-conduct

https://github.com/open-life-science/policies-procedures-and-docs/blob/main/CODE_OF_CONDUCT.md

[2022-10-20 09:30] iremide1022 commented on #38
Wow, thanks @jilaga i was about to ask for resources to use

[2022-10-20 09:35] jilaga commented on #38
I like these ones in the code of conduct. "a **welcoming, friendly,** and **harassment-free** environment for everyone to **learn** and **grow** by contributing."

[2022-10-20 09:37] jilaga commented on #38
A pleasure. @NPDebs shared more resources too

[2022-10-20 09:40] Ismael-KG commented on #38
Super! @jilaga shared values from the website and @NPDebs has found those of the code of conduct (I'll past these here):

**Be welcoming:** We strive to be a community that welcomes and supports people of all backgrounds and identities. This includes, but is not limited to members of any race, ethnicity, culture, national origin, colour, immigration status, social and economic class, educational l

[2022-10-20 09:43] NPDebs commented on #38
@jilaga You're a starrrrr!!! 🌟🤩🙌🏼

[2022-10-20 09:44] NPDebs commented on #38
@Ismael-KG For starters, we can take each of these values, condense them into taglines and add to logos and other features on the website. 🤔
E.g.

![Screenshot_20221020-111513_Google.jpg](https://user-images.githubusercontent.com/105166953/196922254-c984c038-8f1b-4f58-bb81-7bb732d8393c.jpg)

Also...
We can use **colors** to portay those values too.
For instance, yellow speaks "joy, energy and life

[2022-10-20 09:49] jilaga commented on #38
you swoon me 😃

[2022-10-20 09:56] latifatakin commented on #38
Core values of Open Life Sciences from the code of conduct present on GitHub https://github.com/open-life-science/policies-procedures-and-docs/blob/c342530ffe943bcc1a84a1a8a8e3b5b3c0fa4547/CODE_OF_CONDUCT.md

1) Friendly
2)Welcoming
3) Considerate
4) Diverse
5) Inclusive

On the OLS website, https://openlifesci.org/community you can find the values;

Education: Educate scientists about open
scienc

[2022-10-20 09:58] jilaga commented on #38
**How can the values be represented?**

We are already having discussions on rebranding so I'm guessing we would end up with an expanded color palette. **Colors** help to forge visual connections of a  company’s personality and values. We can visually communicate the community values by choosing the right color combinations to work with.

Also on Typefaces/Fonts, The font used in designing the cur

[2022-10-20 12:45] Bisola15 commented on #38
Phew! Finally here.

Thank you @NPDebs and @jilaga for the resources.
These values can be portrayed in ways everyone has mentioned above.

While there is a theory on colour psychology about how different colours evoke different emotions in people, I have also read somewhere that the theory can be bent. The perception of colour and a brand depends on how it used by the brand.
I say this because OLS

[2022-10-20 17:19] ZeedDeveloper commented on #4
Hello @yochannah l intend to work on this issue

[2022-10-20 18:09] Bharlikiss commented on #38
You ladies are giving me joy @jilaga @latifatakin @NPDebs . Fonts are like outfits , they provide people with first impressions about a brand, because they are the first things people notice about the brand, hence they set the tone of the brand which is why we have to be strategic and intentional about the font selection too.

I agree with @Bisola15  suggestion about Sans-serif because it embrace

[2022-10-20 18:51] niyolynate commented on #38
Hello Friends,
I have been researching about the name i found the following, basing on the values we have worked on in our current cohort of OLS, the fliers, looking for a universal name that could compile all but still back up the core of OLS.

``Hope`` , ``Fire``, ``Courage`` and others.
 in the following Values
Open Source, Empower, Hope, Community.

I chose the following.

OCTE - Open Communit

[2022-10-20 19:02] salmasabo commented on #4
![Group 16](https://user-images.githubusercontent.com/115367130/197034610-7098a74b-fa59-4e28-9fce-ae3a7a80a96d.png)
@yochannah here is my contribution for the social preview image for GitHub.this is a png format

[2022-10-20 22:25] msempath commented on #18
Hi, This is my attempt at a suggestion for the hope cohort logo @yochannah
So I was looking at symbols and illustrations that represented hope and notices a lot of them were heart shapes or two hands holding each other or an object. But then I stumbled upon this really unique icon (unique as i haven't seen it anywhere else) and I modified it a little to how I think it would fit into OLS.

![hope i

[2022-10-21 01:13] Chalcedony219 commented on #38
My people with the sharp brains!

I want to start by saying that if OLS has a mantra, we should be told what it is. This will guide us in choosing a fitting tagline for the brand. This is vital because now that OLS wants to be more encompassing and accommodating of not only physical sciences but Tech and Law, we should have a tagline that suggests a general message to everyone in the necessary fie

[2022-10-21 02:12] iremide1022 commented on #38
Alot has been said by my colleagues, when talking about how to represent values like that of OLS, it basically is all about research as we all know, the frontier we would be giving should as much as possible indicate what exactly we are talking about research, science, core values, community so how could all these be represented all at once;
1. A text has been mentioned already, the sans sarif fon

[2022-10-21 02:14] iremide1022 commented on #18
@msempath amazing design you have here 🥰I’ll go with the first, it’s giving a simple look

[2022-10-21 08:07] Bisola15 commented on #38
Hi @iremide1022 no, no design has been accepted yet. The green colour is not only limited to science. Yunno Yo mentioned that OLS is now beyond life sciences and sciences in general. Philosophers, Anthropologist, Lawyers and so on are among contributors so we need to accomodate them. The green colour is still okay though as you said, not because of it's association to life but because it's a simpl

[2022-10-21 08:14] Bisola15 commented on #38
@Bharlikiss Your description of fonts as outfits; I love it!! Captures the essence of fonts in a summary.
The suggestion about Open Sans. I do agree with all you said about Open Sans, quite spot on, but it is kind of also what sets a limitation to it's usage. Open Sans is a go to Typeface for a lot of brand or people who wants a sans serif font hence it is widely used and the uniqueness is startin

[2022-10-21 08:26] Bisola15 commented on #38
Well done @niyolynate The open community does work, but the technology part is still is still something, hmmmm. OLS is trying to work towards an all encompassing name for all it's members

[2022-10-21 08:45] Bisola15 commented on #34
Hi @iremide1022 Oh so we did not have that meeting anymore. Everything we have has been discussed here since this issue was opened to address that. We put our thoughts here instead

[2022-10-21 10:35] niyolynate commented on #38
@Bisola thank U for the headsup. Its amazing how this makes total relief. Because this will totally welcome all talents.
Am going to check my gramma and rewrites. 😉 Again.

[2022-10-21 10:46] AdeolaAdekoya commented on #38
I like Open Sans its modern. and in regard to the color green, it represents life also, so it doesn't just relate to people who are in science fields.

Using a font checker, I saw that OLS currently uses BlinkMacSystemFont on its website and Raleway in the Logo. Which is a thinner font and minimalist font, which I think we can also stick to that.

However, Inter is also a great font and is popular

[2022-10-21 12:53] Bisola15 commented on #17
Love the drawing.. The second one with the book does it for me. Welldone!!

[2022-10-21 12:56] Bisola15 commented on #17
The first interpretation of it. I love it ! The way it seems like a torch is lighting up the symbol. I really like it

[2022-10-21 13:45] MargaretPearl commented on #34
This is a powerful discussion! whats coming out clearly for me is that we need the Brand guidelines that clearly communicate key considerations for future conversations.
My thoughts and obviously referencing the above contributions is that the logos should clearly convey what each cohort is about but also incorporating the values.

I think we should also consider the Tone of the content based on t

[2022-10-21 22:08] Preciousutos commented on #38
Fantastic feedbacks so far and I mostly agree with our contribution to the importance of color and typography as they must accommodate the band values. San serif fonts accommodate OLS values. As for colors, I did a little research earlier, I listed out the OLS values stated above by @NPDebs @jilaga @latifatakin and searched for the colors associated with most of them (color psychology). Here are m

[2022-10-22 09:56] salmasabo commented on #38
@Ismael-KG
After going through the Ols website I found out that it is a community where everyone is welcome,friendly and a positive environment,to represent this value colors such as yellow,white can be used because they symbolize happiness,warmth in a community which aligns with this value.

OLS supports people of all backgrounds and identities,therein images that represents people of various ski

[2022-10-23 15:39] stormztee commented on #19
Hello @yochannah, I'm so sorry I'm participating in this brainstorming session so late. I've had some PC issues, which have seriously affected my work.

I think conducting a closed survey among mentors, interns, and community members would be ideal to find possible names. Some proposed survey questions are:

1. When did it first occur to you that OLS needs a re-brand?
2. Do you think OLS has trans

[2022-10-23 16:41] Mays26 commented on #16
Heres my idea of what perserverance could look like
![Perserverance](https://user-images.githubusercontent.com/116025692/197404433-1b99ba63-afa9-4b26-929a-f9ac19853633.PNG)
@yochannah

[2022-10-23 16:55] Mays26 commented on #15
I decided to go in a different direction since it wasn't specifically stated that the mask had to do with covid. I decided to concentrate more on the cohort because it means a group or a team with a similar goal. @yochannah
Here's my interpretation.
![Masked cohort](https://user-images.githubusercontent.com/116025692/197405084-3cc0d551-8808-4b4b-b316-0323b355d7b8.PNG)

[2022-10-23 16:58] stormztee commented on #34
Hello, everyone. I apologize for engaging this so late, @Ismael-KG. I’ve been experiencing serious issues with my PC.

These are some guidelines that I think should be considered:
1. Logos should not be overly detailed to scale properly and work across different platforms.
2. SVG formats of logos should always be provided.
3. Logos should resonate with the cohort name and OLS core values.
4. The t

[2022-10-23 20:02] mkpouto-inyang commented on #18
Hello everyone and @yochannah @Ismael-KG.
This is my own input on the development of a logo for the Hope cohort:
These are a few sketches I penned down, and the finished products afterward.
![IMG_8151](https://user-images.githubusercontent.com/92806964/197361266-dd34fe07-d9e8-467d-9974-b835f7174d92.jpg)

![Hope Cohorts_Hope Sample 2](https://user-images.githubusercontent.com/92806964/197361079-ba8

[2022-10-24 09:18] niyolynate commented on #18
Hope Cohort,
hope thru giving each other courage and a hand is what is called Real hope. when we stand together we hoe for the great when we hope alone we hope in vain Help and hope move together.

and the logo is below.
![hope cohort](https://user-images.githubusercontent.com/98440370/197492023-ea172f68-ba9b-4c77-b3ef-08500431c809.PNG)

[2022-10-24 09:54] MargaretPearl commented on #38
**The Thought Process**
Every ideas is born and backed by all kinds of ways to engineer it to life.

The bulb connected to the stem of the tree represents the how the ideas come to life.
The tree and the tech represent a refined idea well packaged into different branches of science with the blooming tree and a strong back bone linked to the initial idea

**How the logo corresponds with values**
Co

[2022-10-24 10:31] yochannah commented on #18
@mkpouto-inyang - wow, those logos are very pretty. I especially like the fact that the colours are simple. If you had to simplify it so that it would fit on the top-left corner of a page (like logos often go), what steps would you take?

[2022-10-24 10:32] yochannah commented on #18
@msempath that's a gorgeous concept! I wonder if it would be visible when the logo was really small, though - is it possible to make the lines a bit stronger?

[2022-10-24 10:32] yochannah commented on #18
@Idowufaith-data wow, the dove and the heart hands are lovely concepts. If you made it a vector, what might it look like?

[2022-10-24 10:33] yochannah commented on #18
@Preciousutos some really nice concept sketeches! What might they look like as vectors?

[2022-10-24 10:34] yochannah commented on #18
@Caxri7 I love the way you've combined letters and hope-related concepts. What would be your next step if you vectorised it?

[2022-10-24 11:02] yochannah commented on #18
@salmasabo @iremide1022 your concepts are really lovely sketches - what might they look like if you make them into vectors?

[2022-10-24 11:04] yochannah commented on #18
I may have missed some people here - there are a lot of posts 😁  if I _haven't_ fed back on yours, please do take sketches to the vector stage!

[2022-10-24 11:05] yochannah commented on #18
@niyolynate I like the concept, but it's perhaps a bit too colourful - what might it look like with only 1-3 colours?

[2022-10-24 11:23] niyolynate commented on #18
@yochannan Let me try and find out. will show you.
Please help me know, while doing the final project is prototyping allowed. say figma or canva?

[2022-10-24 11:37] niyolynate commented on #18
Hope Cohort Logo.

Hope is a key to finishing any thing in life. if you lose hope you can get it from a friend. meaning in this work too we need hope. but our hope alone can diminish just like wood burning, if one is removed it will stop burning. that's why giving a hand is very important as a cornerstone of hope. so i chose hands because giving a hand is giving Hope. just like our theme, "Togethe

[2022-10-24 15:32] Ismael-KG commented on #38
Oh my goodness, so many great ideas! As usual, a bit of a summary from me (and a question because I am easily confused 😅

We seem to be converging on:
* Colour: green!
* Font: Something sans serif

My question is prompted by comments by @latifatakin and @Bisola15: what are "copies" in this context?

@AdeolaAdekoya, you asked whether I meant representing values on the website. I think my answer is

[2022-10-24 15:48] Bisola15 commented on #38
Hi @Ismael-KG you’re back to our land!! 💃🏾💃🏾
copies are the texts that go on the website.
The writings, the way they are structured, the tone they carry and how they inform the audience who/ what OLS is and their value is the definition of copy.

[2022-10-24 15:51] Bisola15 commented on #38
The elements of OLS has yes been answered by @Caxri7. Virtually everyone who’s commented had noted the same things along the line 💃🏾💃🏾
we’re thinking!!

[2022-10-24 15:53] Ismael-KG commented on #38
Thank you! Do people have thoughts on the elements that form a copy? How do we set out guidelines that inform a welcoming tone as opposed to, say, a very serious tone?

[2022-10-24 15:54] Blessing1135 commented on #4
![OLS preview page 1](https://user-images.githubusercontent.com/115433348/197567794-80ac13a4-258d-4822-87e8-a24ac0f45f47.svg)

![OLS preview page 2](https://user-images.githubusercontent.com/115433348/197567807-4a803256-bf0e-4be2-ac30-bc4847d406bc.svg)

@yochannah  Good day, This is what I was able to try my hands on, on the GitHub social preview image, this is an SVG  format Please comment on it

[2022-10-24 16:02] latifatakin commented on #38
Like @Bisola15 said, copy is the text that goes on the website. Hence, to represent OLS value, we need to write the copy in a way that our community members feel welcomed and included.

[2022-10-24 16:09] latifatakin commented on #38
The elements that form a copy include;

The headline
The sub heading
The Call to actions
Benefits
Features

[2022-10-24 16:12] jilaga commented on #38
Thank you @Ismael-KG for encouraging our ideas. I think all the contributions so far to this issue suggest that OLS core values can be represented visually with choice of colors and fonts.

[2022-10-24 16:15] Chalcedony219 commented on #38
Like @latifatakin has highlighted, the parts of the website that people are conversant with should have the dopest copies.
Firstly, we know who our target audience is and so, it won't be so difficult coming up with copies that they can relate to. For instance, a Gen Z is very likely to relate better with informal, very friendly and accommodating copies (I'm not a Gen Z, by the way).

If we recogni

[2022-10-24 16:26] jilaga commented on #38
and taglines

[2022-10-24 18:11] salmasabo commented on #34
@Ismael-KG heres my thought on the issue.
All logos should look like they're a subsidiary of the ols umbrella.

they should also have consistent colours,shapes,typography and weight.

Logos should also be scalable to bigger or smaller sizes without pixelating

Each Cohort should have an element that represents what the cohort is about,that way at a glance,it's known that it is under old and what t

[2022-10-24 21:22] ZeedDeveloper commented on #4
@yochannah please help, I can't figure out how to add my design to the repo, can anyone else assist, please

[2022-10-24 22:44] Blessing1135 commented on #4
Well, @ZeedDeveloper according to what I learned from another good colleague go to add a file and then upload your design from your saved from your computer, then add descriptions and commit changes before the PR. I hope this helps.

[2022-10-24 22:58] niyolynate commented on #4
Thanks for the help dear guess was off truck then.

[2022-10-25 00:03] niyolynate commented on #38
Since reading is how communication is done on a website, fonts play a big role in how the sound comes out.
As we focus on presenting the core values, we need to convey this message in the simplest form Possible.
Our associations with different inspirational typography trigger powerful ideas and emotions. So As the re-branding team his means that choosing the right typography will help us to fill t

[2022-10-25 05:27] ZeedDeveloper commented on #4
@Blessing1135 thank you, I will try that

[2022-10-25 07:08] mkpouto-inyang commented on #38
@Ismael-KG I hope it's not too late to contribute to this.

The major values that OLS upholds include: Education, community, transparency, respect, Open Science, Modesty, and responsibility.

To ensure these values are properly represented by OLS, it helps to list out what design elements/principles, as well as other factors that give the brand its identity; that we would want to incorporate these

[2022-10-25 11:00] Olakid645 commented on #18
![OLS HOPE](https://user-images.githubusercontent.com/108859811/197755840-87a79e1f-6152-4a60-b1d4-a572e492eee6.png)
Here is my Logo submission for the OLS Fifth Cohort.

Below are the analysis for a better interpretation and understanding;
Starting from the "HANDS" they stand as the symbol of "HOPE" for life and people in general
Secondly, the "TREE" is literally referred to as the "Tree of Life"

[2022-10-25 14:43] Lisanna commented on #17
I also loved the first more than any other, but honestly all your proposals here are soooo good!

[2022-10-25 16:23] Preciousutos commented on #38
Hi @Ismael-KG, So copies in the context of representing OLS values are contents, content across several platforms. For your next question on the elements that form a copy, here are a few elements to consider:
1. A clear objective has to be stated as this will help influence how best to come up with a good copy
2. Brand voice and tone
3. Call to action
4. An image, illustration, or video helps capt

[2022-10-25 17:26] jilaga commented on #17
B:
![Capture](https://user-images.githubusercontent.com/105386444/197841475-7818f74d-9efe-4e4d-9e5e-f3e676edbde4.JPG)
![sdfghjk](https://user-images.githubusercontent.com/105386444/197849572-3c86429e-6b3d-45f7-ace1-de37a7bf2bdd.JPG)

[2022-10-25 21:04] Preciousutos commented on #18
@yochannah
Here are the vector samples of my sketches. I also reduced the sizes so you can view the logos in smaller sizes.
 ![Hope cohort](https://user-images.githubusercontent.com/82149094/197881165-2ccd8f9d-eeac-422b-9742-603527fb5f0c.jpg)

[2022-10-25 21:29] salmasabo commented on #18
![image](https://user-images.githubusercontent.com/115367130/197885315-28a80fc7-460b-471d-99af-1cd3f9cb1132.png)
@yochannah I made the vector to the sketch as you instructed.

[2022-10-25 23:49] niyolynate commented on #34
Our cohort  logo should;
Gives a unique identity to OLS.
Help you connect with customers partners.
An impactful logo design distinguishes you from Other Organizations.
Also it should be able to leave an impression of Professionalism.
so they can lay a foundation for all your future branding efforts
by building  brand loyalty.

they should also be
* Simple
* Original and Distinct
* Versatile
* Targ

[2022-10-26 08:12] Preciousutos commented on #34
Nicely said👏. With these I think OLS should really take into consideration, while designing their logo, that it should be timeless and memorable and that's very important, to avoid a change of branding once something new is added. So, I'll suggest an abstract logo.

[2022-10-26 08:20] Preciousutos commented on #34
In addition to this, I will suggest that each cohort logos can have the OLS logo just by the side of the cohort logo. Something like what's on this image
![Screenshot_20221026-091647.jpg](https://user-images.githubusercontent.com/82149094/197972936-3b8b1072-4708-4378-8dd2-82cbd09e4d7d.jpg)

[2022-10-26 08:43] Preciousutos commented on #29
In addition, information on the website is not properly arranged. I find it difficult to navigate to some pages. Alot of texts on the website and I think this can be worked on by adding relatable images. According to recent studies, the average person’s attention span is now only 7-8 seconds long. That means roughly eight seconds to grab your viewer’s attention and engage them enough to get your m

[2022-10-26 09:06] niyolynate commented on #18
I need help anyone with communication link please for this project.

[2022-10-26 09:11] yochannah opened #45 "design graphics to illustrate core OLS concepts."
One of the core concepts of OLS is that by consciously and intentionally designing open behaviours into our work, we're more likely to be able to be effective.

Currently we use these slides: https://docs.google.com/presentation/d/1fXnQvrt0uBXrYwUlvePSx6N7m7DnKLD1hCRTxos-QOk/edit#slide=id.p16

see slides 3, 7, 16, 18, 19
--

multiple people can make prs on this issues

[2022-10-26 09:14] iremide1022 commented on #18
@niyolynate communication link??
I don’t think I got that but try sketching your design and put it here for comments and all.

[2022-10-26 09:19] Preciousutos commented on #45
Hi @yochannah . Are we to redesign just the slides noted or the entire presentation?

[2022-10-26 09:34] jilaga commented on #45
@yochannah could you explain further on what you mean by graphics? Like poster designs?

[2022-10-26 09:35] yochannah commented on #45
great questions!

@Preciousutos  The slides here are to illustrate concepts - but think of making a graphic, rather than just the slide. Something we can re-use everywhere that illustrates the concept.

@jilaga yes, but probably not as big. Try to aim for things that would still _fit_ onto a slide, or a webpage. They can be more complex than a logo, though!

[2022-10-26 09:39] Bisola15 commented on #45
Thank you @yochannah ❤️

[2022-10-26 09:41] jilaga commented on #45
Okay @yochannah. Should we use the current branding guide or can we stretch a little bit away from it?

[2022-10-26 09:43] stormztee commented on #45
Hello @yochannah . Should we stick to the exact same copy that's already on the slides?

[2022-10-26 09:54] Preciousutos commented on #45
@yochannah I noticed some typo and punctuation errors on some of the slides for example, slide 12 had a period after 'lessons' instead of a comma and slide 13 should be read through

[2022-10-26 10:09] yochannah commented on #45
@jilaga go wild, use your creativity!

@stormztee little tweaks are okay, and creative interpretations. IF you're not sure, ask in Slack?

@Preciousutos heheh, don't worry about it too much, but definitely don't replicate our oopsies!

[2022-10-26 10:32] stormztee commented on #45
Alright @yochannah

[2022-10-26 14:10] Ismael-KG commented on #38
You are all doing spectacular work and providing amazing insight – I hope you don't take it personally if I don't comment on exactly what you said!

I just want to mention some two thoughts based on @niyolynate's PR #46:
1. Font: Fonts have been mentioned above (by @latifatakin @Bisola15 @jilaga @Bharlikiss @Chalcedony219 and others!) but what about font size? Does anybody know of any standards fo

[2022-10-26 14:20] Chalcedony219 commented on #38
Thank you, Ismael for your sweet words of praise.
I think OLS is an embodiment of various streams of important values and different colors represent these concepts. I, personally, won't mind the subtle use of gradients in the use of colors. We can choose the colors that mostly represent these concepts and mix them very very well (the proper use of gradients can require some level of mastery). So,

[2022-10-26 14:23] Ismael-KG commented on #18
@niyolynate reach out to the community via Slack =)

[2022-10-26 14:27] Ismael-KG commented on #38
@Chalcedony219 I feel where this is coming from: "the proper use of gradients can require some level of mastery" – I learned many moons ago that I don't know how to use them right, haha!

[2022-10-26 14:27] niyolynate commented on #45
Graphics to Illustrate Core OLS concepts.
Slide One
![pre 1](https://user-images.githubusercontent.com/98440370/199381782-a2d845c4-0530-4ad8-867c-531929a52613.PNG)
 2
![pre2](https://user-images.githubusercontent.com/98440370/199381937-1d531ec4-05fe-4b12-b2bf-b6b470cdae51.PNG)
3
![pre 3u](https://user-images.githubusercontent.com/98440370/199381996-46b8ef05-a847-4e2b-b3c3-552d6067dc62.PNG)
4
 ![pr

[2022-10-26 14:27] NPDebs commented on #38
@Ismael-KG Thank you for creating an opening for us to obsess about gradients!!

Rather than using one or more solid colours that may be bland and underwhelming, it's always great to make things interesting using gradients. 😍😍

And hey, nothing screams "we are a community that welcomes people of every colour" like using multiple colours, combined in a beautiful synergy. 🥰🌈

Gradients are an innova

[2022-10-26 14:33] Blessing1135 commented on #45
Alright @yochannah

[2022-10-26 14:38] Chalcedony219 commented on #38
Exactly @Ismael-KG
It's beyond just splashing pink with yellow and green.
However, with the correct usage of gradients, one is guaranteed a kind of brand uniqueness. I mean, look at INSTAGRAM and FIREFOX for instances; beautiful usage of linear gradients

[2022-10-26 14:50] jilaga commented on #38
We are unanimously agreeing on gradients, yes!! 💃🏽💃🏽
But then again, how far do we want to go from the current brand identity?  🤔

[2022-10-26 14:50] latifatakin commented on #38
Thank you for the words of encouragement @Ismael-KG .

1) There are standards for choosing website font sizes for example, legibility, readability, scalability etc. But these are general standards.
To determine font sizes, we need to use a typographic scale. We have several scales like the major second, minor second, golden ratio, minor third, major third etc. A good type scale we can use is the m

[2022-10-26 14:51] latifatakin commented on #38
This is a good question. I will like to know also

[2022-10-26 14:56] jilaga commented on #38
@latifatakin you're apt on the font sizing. We have some design guidelines in this repository, you could check the files.

[2022-10-26 14:59] Ismael-KG commented on #38
@latifatakin what do you mean by design system?

[2022-10-26 15:08] latifatakin commented on #38
A design system is a collection of reusable UI (User Interface) components and guidelines. It helps designers to maintain consistency across the brand. In a design system, we can find the type style , icons, buttons, images, colors, dropdown lists, input boxes, interaction guidelines and others.

[2022-10-26 16:11] Everythinglayemi commented on #38
Since users would see the visual assets when they open the website, I believe they better reflected the values. We ought to put more effort into letting our fonts, color scheme, infographics, logo, and other visual components better express our ideals.

[2022-10-26 16:24] Lydiaofficial commented on #38
On deciding on the perfect font size, we have to consider the type of page the OLS website is and when we do that, we find out that it is a text heavy website because it has a ton of text and doesn't have a lot of interactions which suits the purpose of the platform

Since people are visiting with the goal of learning something, it is important that we don not make them strain their eyes. So I sug

[2022-10-26 16:29] Everythinglayemi commented on #38
I prefer the look of solid colors. We may utilize a variety of green hues. According to studies, science is best portrayed using solid colors, and our basic principles follow this trend. Additionally, a command of gradients as well as an understanding of color theory and its meaning require mastery.

[2022-10-26 16:56] Everythinglayemi commented on #29
@yochannah can I still work on this?

[2022-10-26 17:04] latifatakin commented on #38
I will check the files out. Thank you 🙏

[2022-10-26 17:45] AdeolaAdekoya commented on #38
I think the design guidelines we have here just talk about the brand color and the font that was used which I believe is Raleway not the font size.

Since it's just for the values I don't think a design system might be needed. Cause we don't require various font sizes max 2 if there's a need for that.

And I'm on board for a gradient too but like @Chalcedony219 stated, the right use of gradient re

[2022-10-26 17:47] AdeolaAdekoya commented on #38
This is a good idea. But remember we're trying to deviate from the community being seen as "just a science community" and one that everyone is welcome.

[2022-10-26 19:41] latifatakin commented on #16
Perseverance Logo

My approach to creating a Logo for OLS cohort (Perseverance)
From my research, perseverance can be defined as the continued effort to do or achieve something despite obstacles, difficulties or opposition.

Next Step is coming up with a sketch of my proposed OLS Perseverance logo.

Hand Gesture; to represent success.

Curved arrows: represents that the path to success might not b

[2022-10-26 20:00] latifatakin commented on #16
Perseverance Logo

My approach to creating a Logo for OLS cohort (Perseverance)
From my research, perseverance can be defined as the continued effort to do or achieve something despite obstacles, difficulties or opposition.

Next Step is coming up with a sketch of my proposed OLS Perseverance logo.

Hand Gesture; to represent success.
Curved arrows: represents that the path to success might not be

[2022-10-26 21:58] Everythinglayemi commented on #4
@yochannah I would like to contribute to this.

[2022-10-27 00:40] niyolynate commented on #16
Yes Dear. @iremide1022 am going to do just that.

[2022-10-27 00:47] niyolynate commented on #16
### Perseverance cohort logo of the OLS.
Like a seed planted, dies and rises again is how we aught to persevere through challenges.
![OKI](https://user-images.githubusercontent.com/98440370/198166099-f33a9793-8507-4107-bec0-1ad8d4145ad9.png)
# Perseverance

[2022-10-27 03:56] Bisola15 commented on #38
Finally here 💃🏾💃🏾
Thank you for your kind words @Ismael-KG
Standard website font size as @Lydiaofficial mentioned is 16px. She also talked about the need for readability which is very vital owing to the type of website OLS is. I do know that the basic body text largely depends on the type of font that is used. Some fonts are wide and short, with low cap-height while some are narrow but taller and

[2022-10-27 08:50] Preciousutos commented on #38
This also varies with font choice but yes, those are standard minimum body sizes.

[2022-10-27 14:06] niyolynate commented on #4
Social Preview image for github.
![github preview](https://user-images.githubusercontent.com/98440370/198307247-1766703b-6e4c-49c4-90cb-796acb8bf189.png)

[2022-10-27 14:57] Everythinglayemi commented on #14
This is a social preview I created for a twitter post
<img width="400" alt="SOCIAL Preview" src="https://user-images.githubusercontent.com/103745001/198324505-e437df12-0392-4534-9c02-4462f89ac403.png">

[2022-10-27 16:19] Everythinglayemi commented on #18
@yochannah These are my sketches for the hope cohort logo
![Hope Sketches](https://user-images.githubusercontent.com/103745001/198344608-6ae12651-af45-48bc-ac6c-a6279e0e3cc1.jpg)

[2022-10-28 02:22] iremide1022 commented on #18
![HOPE LOGO](https://user-images.githubusercontent.com/115456602/198465096-bbb76bb1-4f81-466d-aca5-c8c97f9f0f52.png)
 @yochannah please help check out the vector sketch

[2022-10-28 06:22] preshpi commented on #4
@yochannah  @Ismael-KG I'm Precious and I will be working on the "social preview image for Github" task.
Here are the images I made both in dark mode and light mode.
[Light mode](https://www.awesomescreenshot.com/image/33843467?key=ad0aa8e7d2cf27cdd8ebb264d5f78)
![1](https://user-images.githubusercontent.com/80992383/198517280-15dcd3cf-77e3-4221-b795-d84a9e499004.png)
3cd)
![2](https://user-images

[2022-10-28 08:54] jilaga commented on #45
@Ismael-KG @yochannah here are some redesign ideas I came up with for the pages highlighted above. Feedback would be appreciated, thanks.
<img width="960" alt="Slide 4_3 - 1" src="https://user-images.githubusercontent.com/105386444/198546988-af203eeb-f5da-4eba-a382-84e091f5bec3.png">
<img width="960" alt="Slide 4_3 - 3" src="https://user-images.githubusercontent.com/105386444/198546998-6b1cd8d4-35

[2022-10-28 09:10] jilaga commented on #45
@yochannah I reread the description of this issue again and I am now a little confused, do we redesign the whole slides or just the numbers you highlighted?
Also I just realized that I should have made a pr instead 😬

[2022-10-28 12:50] Bharlikiss commented on #38
Hi, I'm open to other suggestions but because a typeface is widely used doesn't make it less unique or  less effective though, i believe if a typeface is popular or widely used, we should first check the reason why its so popular and if it meets the purpose of usage.

[2022-10-28 13:17] Bharlikiss commented on #26
Hi @Esyteck so here's my design suggestion and putting in mind that the mentors said we could only make suggestions as regards to the design but not the real deal as that will be the job of the Lucky intern selected. So i came up with a basic STYLEGUIDE and a WIREFRAME  of the landing page , so here's the link to the figma file. Reviews and suggestions are welcome

[<>](https://www.figma.com/file/

[2022-10-28 13:50] niyolynate commented on #19
OLS Rebranding
When we appreciate the name we have and look for how best we can modify incase there is new development, in structure, activities, Change in responsibilities, and recreation or

Rebranding OLS is not as simple as tweaking your logo and slapping the new version onto your website. the process of rebranding your company image has become  will be come complex not only technical but as a

[2022-10-28 15:22] stormztee commented on #45
Hello, @yochannah @Ismael-KG. Here's my take on the redesign of the highlighted slides. Looking forward to your feedback; thanks.
![Slide 3 OLS](https://user-images.githubusercontent.com/66218354/198672394-f0a7d21e-4239-4e88-be34-045c81f68969.png)
![Slide 7](https://user-images.githubusercontent.com/66218354/198672421-96c8314b-d45b-4a82-b09b-8408a651000f.png)
![Slide 16](https://user-images.github

[2022-10-28 23:29] stormztee commented on #17
Kenaz: torch, knowledge.

Key concepts: torch as a symbol of knowledge and intellect, searching for enlightenment, shedding light on matters, the quest for truth, skills and abilities, creativity, creativity, art, craftsmanship, acquisition and application of knowledge, intuition, enthusiasm in teaching/learning, kin-fire, opportunity, playfulness.

I decided to go with combinations of a torch and

[2022-10-30 01:50] AdeolaAdekoya commented on #45
@Ismael-KG @yochannah here are some graphics I came up with to illustrate the concepts in the slide. I look forward to the feedback.
![Slide nl16_9 - 25](https://user-images.githubusercontent.com/86787740/198858949-62d9c253-ae09-4463-be0d-2b2afea4437d.png)
![Slide 16_9 - 11](https://user-images.githubusercontent.com/86787740/198858951-de9cc96b-1b90-477c-b799-e9e1e90cd264.png)
![Slide 16_9 - 12](ht

[2022-10-30 09:52] Ismael-KG commented on #45
So much great work! Just a few simple comments for each:
* @niyolynate, try to simplify the slides – for example, your third slide with the core values should be either the tree or the blurb on the left, but not both. Your use of trees is very creative, and I hope they become a feature somehow!
* @jilaga, it would have been nice to see some use of green. That said, your design is nice and simple,

[2022-10-30 10:10] AdeolaAdekoya commented on #45
Thanks for the feedback @Ismael-KG .. Utilized the contrast checker and adjusted the text  to make it more legible. Here are the updates.
![sdww](https://user-images.githubusercontent.com/86787740/198873265-3e5c8957-3609-4dfc-a8a2-1cb13e338082.png)
![lkkf](https://user-images.githubusercontent.com/86787740/198873266-4b90963c-9083-4f42-92ac-c3cf12c89236.png)

[2022-10-30 10:12] AdeolaAdekoya commented on #45
This is a very useful too @Ismael-KG will definitely be using it in the future. Thank you☺

[2022-10-30 16:08] niyolynate commented on #45
Design for the OLS Core Illustration.
![sav](https://user-images.githubusercontent.com/98440370/199090358-59aa17ac-48b7-4d86-8799-12917098d805.PNG)
![savv](https://user-images.githubusercontent.com/98440370/199090587-9794bc8e-eba1-4a8f-a1ad-bc2c731e51b3.PNG)
![savvo](https://user-images.githubusercontent.com/98440370/199090932-83d51a58-9009-40b8-a794-243a3674ebcd.PNG)
![savol](https://user-images.

[2022-10-30 17:22] niyolynate commented on #29
This is my fair sketch of the landing page
![landing](https://user-images.githubusercontent.com/98440370/198892294-e491bc01-5b5d-4db2-979b-800c41be9bb4.PNG)

[2022-10-31 03:31] Bisola15 commented on #45
Finally made it here!!!
![Introducing OLS -3 (Dark mode)](https://user-images.githubusercontent.com/81020434/198924955-bc7138ad-8a09-41d6-9e4a-cc83392fa7ff.png)
![Introducing OLS -7 (Dark mode)](https://user-images.githubusercontent.com/81020434/198924986-02023f3e-0efe-403b-96be-b31fbe85f967.png)
![Introducing OLS -16 (Dark mode)](https://user-images.githubusercontent.com/81020434/198925027-e99f8a

[2022-10-31 03:38] Bisola15 commented on #45
@yochannah @Ismael-KG  Yes, It's me again. My second submission for consideration; the light mode
![Introducing OLS -3 (Light mode)](https://user-images.githubusercontent.com/81020434/198925736-5fe094c2-b2a8-41b0-86a0-27df3755aeb7.png)
![Introducing OLS -7 (Light mode)](https://user-images.githubusercontent.com/81020434/198925745-e254a049-7e89-4899-8b0f-0c874f615694.png)
![Introducing OLS -16 (Lig

[2022-10-31 03:41] Bisola15 commented on #45
Babes @AdeolaAdekoya I like this. It is quite refreshing and clean. Well done 😊😊

[2022-10-31 03:44] Bisola15 commented on #45
Love the simplicity of the design 😍😍 Very clean too 🥺

[2022-10-31 06:22] Bharlikiss commented on #45
Hi everyone,  @yochannah @Ismael-KG. Here's my take on the redesign of the highlighted slides. Looking forward to your reviews. Thank you
![1](https://user-images.githubusercontent.com/105221721/198944229-a6b64456-9015-4f4f-8fb7-a428640a2614.jpg)
![3](https://user-images.githubusercontent.com/105221721/198944252-fd3b4f84-822c-4923-82e9-7b619cb08926.jpg)
![7](https://user-images.githubusercontent.c

[2022-10-31 06:49] jilaga commented on #45
Thank you @Ismael-KG I would take that to effect and adjust the design.
<img width="960" alt="Slide 4_3 - 7" src="https://user-images.githubusercontent.com/105386444/199110908-cb8a6e95-7b9c-4b4b-914b-4c9c2370c023.png">
<img width="960" alt="Slide 4_3 - 8" src="https://user-images.githubusercontent.com/105386444/199110917-c131f882-c176-49e3-9ff7-81686c4d2e7f.png">
<img width="960" alt="Slide 4_3 -

[2022-10-31 08:24] Ismael-KG commented on #45
Thanks to those who've made reviewed submissions! Just some comments on the completely new ones:
* @Bisola15 it's great to see both light and dark mode options! I'd be curious to hear why light mode slides should prevail – dark mode is definitely easier on the eyes! I just wanted to comment how the use of gradients (which looks great!) is clearer on the light than dark background. Was this on purp

[2022-10-31 09:33] Bharlikiss commented on #45
Thank you @Ismael-KG for the reviews. I have adjusted the font size and also reduced the highlighted words on the last slide to avoid the break. Here are the updates.
![1](https://user-images.githubusercontent.com/105221721/198976173-8a2121c0-731e-4d9b-8e4d-400c387b460d.jpg)
![3](https://user-images.githubusercontent.com/105221721/198977157-704c03e8-b3b7-409f-9f6a-fdd135e98f54.jpg)
![7](https://us

[2022-10-31 10:18] Emmzybrown commented on #34
Hello guys, in terms of contributing to this Project sector, how can I record it? I mean, should I post my suggestions here or how is it done please?

[2022-10-31 10:22] latifatakin commented on #34
@Emmzybrown yes, you can contribute by commenting on issues. And for some issues, you open a PR. It is better if you ask questions in the slack channel, people tend to reply faster

[2022-10-31 10:56] Bisola15 commented on #45
Thank you so much for that comment @Ismael-KG 😊  Personally, I would go for dark mode. I had just done the light mode as an option to present what it looks like, I don’t think light mode should prevail 🙈 (Personal bias). So the gradient patterns are not the same for the both modes. I had tried my hands on two different patterns, and for the dark mode I reduced the opacity a lot so that it would bl

[2022-10-31 12:17] Emmzybrown commented on #34
You all gave wonderful contributions to this. Here are some of the guidelines I formulated , to be considered in creating logos:

1. First we need to consider the our targeted audience, to find their characteristics shared amongst each other. With this understanding, we know the approach to take in creating the logo.

2. Color also plays an important role. You need to choose a classic and calming

[2022-10-31 17:55] niyolynate commented on #45
@Ismael-KG  Ok thanks for the comment. am going to try that

[2022-10-31 18:11] Olakid645 commented on #45
@Ismael-KG @yochannah here are my redesign ideas for the pages highlighted above. Feedback would be highly appreciated, thanks.
![3](https://user-images.githubusercontent.com/108859811/199079272-8305942d-64ec-4bd2-967b-056f2f504d2e.jpg)
![7](https://user-images.githubusercontent.com/108859811/199079305-de677aec-3734-40dd-ad69-c3214148842f.JPG)
![16](https://user-images.githubusercontent.com/108859

[2022-11-01 03:28] Emmzybrown commented on #45
I would really love to participate on this task, @yochannah

[2022-11-01 06:47] AdeolaAdekoya commented on #45
Hi @Emmzybrown, yes you can. She stated earlier that multiple people can contribute.

[2022-11-01 13:38] Emmzybrown commented on #16
Thanks @yochannah for this

For better understanding on how to first create the logo, let’s briefly understand what perseverance is.

Perseverance means continued effort to do or achieve something despite difficulties, failure, or opposition

In other to create this logo, I conducted a little research on objects/images that could depect perseverance, colour style and font.

**Below are images of t

[2022-11-01 13:39] Emmzybrown commented on #16
I need your reviews on this please @yochannah @AdeolaAdekoya @latifatakin

[2022-11-01 13:57] Emmzybrown commented on #18
@yochannah I would love to participate on this task please

[2022-11-01 14:03] Emmzybrown commented on #18
Let’s understand the concept, Hope.

Hope is a feeling of expectation and desire for a particular thing to happen.

In other for us to create a logo to depict the image of hope, we need to consider three major things related to hope,
1.	Colour
2.	Font-style
3.	Image (if any) that signifies strength

**_A little explanation on How I went about the process…_**

I made a little research on colour the

[2022-11-01 14:05] Emmzybrown commented on #18
@yochannah @Ismael-KG @Bisola15 Would be grateful to have your reviews on this please

[2022-11-01 17:28] Ismael-KG commented on #45
Hey @Olakid645, thanks for your suggestions! Two comments:
* Are these meant to be different styles to choose from? The five slides are great but very unique.
* I think I can quite confidently say the last one is a bit too "corporate" in its colours and general theme. The first two seem most coherent with other things we see on the OLS brand 😊

[2022-11-02 08:15] jilaga commented on #38
Hi all, I made some illustrations for the core values of OLS and they are linked above. I would really love some feedback or suggestions on improvements if any, Thanks.

[2022-11-02 08:16] jilaga commented on #45
Hi all, I made some illustrations for the core concepts of OLS and they are referenced below. I would really love some feedback or suggestions on improvements if any, Thanks.

[2022-11-02 13:55] jesmanto commented on #24
![Uploading 16673972561378138589133603819756.jpg…]()
The previous image I uploaded here had some issues so I thought I should try again

[2022-11-02 14:04] Esyteck commented on #24
![16673978317278644596301751013538](https://user-images.githubusercontent.com/112022744/199509812-ff8c343f-40e0-4adf-bc86-383f45d30efb.jpg)
The image I previously uploaded here had some issues. Thanks for pointing that out @MargaretPearl

[2022-11-02 14:07] Esyteck commented on #17
![Uploading 16673980184415126539265813350760.jpg…]()
I think a word logo will suit best

[2022-11-02 14:21] Emmzybrown commented on #45
Hello guys, below are some illustrations I made for the core values of OLS. I would love to get some reviews and suggestions on any improvement please.

![SLIDE 3](https://user-images.githubusercontent.com/85748210/199513992-2a4b5726-335e-4758-bf7d-1cde37eea501.png)

![SLIDE 7](https://user-images.githubusercontent.com/85748210/199514010-4625fcf6-cb01-486f-a122-d2aebea4827c.png)

![SLIDE 16](https

[2022-11-02 19:14] Preciousutos commented on #16
Here are my samples for the Perseverance cohort logo. So I took another approach to sketching these logos. After researching
perseverance with respect to the mars rover, I discovered that the latest robotic explorer to land on Mars as part of NASA’s ongoing Mars 2020 mission is a rover called Perseverance. The rover is designed to explore the Martian surface looking for signs of past and present l

[2022-11-03 09:02] MargaretPearl commented on #24
![Untitled-1](https://user-images.githubusercontent.com/72576042/199681698-0a1f286b-3cda-446b-ae92-820834c21e70.png)
![Untitled-2](https://user-images.githubusercontent.com/72576042/199681731-30c5bac1-9ad5-4558-a241-512891cfb06b.png)

[2022-11-04 01:55] kryptosjay commented on #14
hi @Ismael-KG  this is my SOCIAL MEDIA PREVIEW IMAGE
<img width="1200" alt="OPEN LIFE SCI" src="https://user-images.githubusercontent.com/26121833/199868605-3d51eee9-05c0-43fa-ac08-64214e2ce331.png">
![OLS](https://user-images.githubusercontent.com/26121833/199972551-312415f2-4404-4119-91c1-984a683f0743.png)

[2022-11-04 02:29] Emmzybrown commented on #17
Hello guys, here are my own designs for this task... I would be grateful to have your feedback and possible suggestions on any improvement please.

![IMG_20221103_170232_157](https://user-images.githubusercontent.com/85748210/199871991-007baf49-5de7-4285-8f3a-d30d1a2f022f.jpg)

![IMG_20221103_170241_576](https://user-images.githubusercontent.com/85748210/199872002-587d9096-cb61-4d20-aee2-3283c94c7

[2022-11-04 12:23] kryptosjay commented on #4
hi @Ismael-KG  am jacinta by name an outreachy intern  this is my summit for github profile preview
i really cant get around this github that much and its affecting most of my post here
![Untitled (16)](https://user-images.githubusercontent.com/26121833/199971431-472774fc-1fef-41ce-b556-e389d5ee9246.png)

[2022-11-04 13:44] Lydiaofficial commented on #45
![image](https://user-images.githubusercontent.com/17748526/199987005-a48e4a34-b3c6-406a-8f04-9ee0665af31b.png)
Redesigned the image on the intro slide of OLS.

i surrounded "Hello" with tons of life sciences to give a new person an idea of what the organization is about.

[2022-11-04 15:54] Preciousutos commented on #45
I could only attempt 2slides

![20221104_165305_0000](https://user-images.githubusercontent.com/82149094/200019747-18a39dc8-1b49-4b6f-a281-c4829d1356fd.png)
![20221104_165221_0000](https://user-images.githubusercontent.com/82149094/200019763-236dc99d-7db5-47b4-823c-e1c73ca51741.png)

[2022-11-06 13:39] AdeolaAdekoya commented on #45
I really like this. welldone😊

[2022-11-11 13:04] Bisola15 commented on #45
Hey @Emmzybrown This is a nice concept. The contrasts of the green texts though, what do you think about it? I think the white background works better than the green one for the contrast. What do you think?

[2022-11-11 13:05] Bisola15 commented on #45
This is sweet!! 😍😍 I like the simplicity. Did you make the illustrations?

[2022-11-11 13:08] Bisola15 commented on #45
I like the colours and the way they blend with the black background 😍😍 and "POP" very nice tbh. Always a sucker for dark modes.

[2022-11-16 18:34] Preciousutos commented on #45
No I didn't. I downloaded and edited them